<% content_for :breadcrumbs do %>
  <%= render Elements::BreadcrumbNavComponent.new(dashboard: true, admin: false) do |component| %>
    <% if (current_page?(action: :new) || (controller.action_name == 'create')) %>
      <% component.with_breadcrumb(text: I18n.t('collections.edit.no_title')) %>
    <% else %>
      <% component.with_breadcrumb(text: @collection_form.title, link: collection_path(druid: @collection_form.druid)) %>
    <% end %>
    <%# include an Edit breadcrumb only if title exists %>
    <% if @collection_form.title.present? %>
      <% component.with_breadcrumb(text: t('collections.edit.breadcrumb'), active: true) %>
    <% end %>
  <% end %>
<% end %>
<%= render Elements::HeaderComponent.new(level: :h1, variant: :h2, text: @collection_form.title || 'Untitled collection', classes: 'mb-3') %>
<%= render Elements::AlertComponent.new(variant: :danger, value: I18n.t('collections.edit.messages.validation')) if @collection_form.errors.present? %>
<%= render Elements::TabForm::TabListComponent.new(model: @collection_form, hidden_fields: %i[lock version]) do |component| %>
  <% component.with_tab(label: I18n.t('collections.edit.panes.details.tab_label'), tab_name: :details, selected: true) %>
  <% component.with_tab(label: I18n.t('collections.edit.panes.related_links.tab_label'), tab_name: :related_links) %>
  <% component.with_tab(label: I18n.t('collections.edit.panes.deposit.tab_label'), tab_name: :deposit) %>
  <%# The panes below need a form in order to render their contents. This provides a "fake" form to use for that purpose. %>
  <%# TabListComponent will render the actual form. %>
  <% form_with(model: @collection_form) do |form| %>
    <% component.with_pane(tab_name: :details, label: I18n.t('collections.edit.panes.details.label'), selected: true, form:) do %>
      <%= render Elements::Forms::TextFieldComponent.new(form:, field_name: :title, label: I18n.t('collections.edit.fields.title.label'), container_classes: 'mb-4') %>
      <%= render Elements::Forms::TextareaFieldComponent.new(form:, field_name: :description, label: I18n.t('collections.edit.fields.description.label')) %>
      <%= render NestedComponentPresenter.for(form:, field_name: :contact_emails, model_class: ContactEmailForm, form_component: ContactEmails::EditComponent, hidden_label: true, bordered: false) %>
    <% end %>

    <% component.with_pane(tab_name: :related_links, label: I18n.t('collections.edit.panes.related_links.label'), form:) do %>
      <%= render NestedComponentPresenter.for(form:, field_name: :related_links, model_class: RelatedLinkForm, form_component: RelatedLinks::EditComponent, hidden_label: true) %>
    <% end %>

    <% component.with_pane(tab_name: :deposit, label: I18n.t('collections.edit.panes.deposit.label'), form:, render_footer: false) do %>
      <p><%= t('collections.edit.panes.deposit.help_text') %></p>
      <%= link_to 'Cancel', collections_path %>
      <%= render Elements::Forms::SubmitComponent.new(form:, label: 'Deposit', classes: 'mt-2 ms-2') %>
    <% end %>
  <% end %>
<% end %>
