<%= tag.table class: classes, id:, 'aria-label': label, role:, data: do %>
  <% if show_label? %>
    <caption><%= label || caption %></caption>
  <% end %>
  <%= header %>
  <%= tag.tbody class: body_classes do %>
    <% rows.each do |row| %>
      <%= row %>
    <% end %>
  <% end %>
<% end %>
<% if empty_message && !rows? %>
  <p class="fst-italic"><%= empty_message %></p>
<% end %>
