<%= tag.tr id: do %>
  <% if label.present? %>
    <th class="col-3" scope="row">
      <%= label %>
      <%= render Elements::TooltipComponent.new(target_label: label, tooltip:) %>
    </th>
  <% end %>
  <% if first_value.present? %>
    <td class="col-3" scope="row">
      <%= first_value %>
    </td>
  <% end %>
  <% values.each do |value| %>
    <td><%= value %></td>
  <% end %>
  <% cells.each do |cell| %>
    <td><%= cell %></td>
  <% end %>
  <% if empty_cell? %>
    <td></td>
  <% end %>
<% end %>
