<%= tag.tr id: do %>
  <% if label.present? %>
    <th class="col-3" scope="row"><%= label %></th>
  <% end %>
  <% values.each do |value| %>
    <td><%= value %></td>
  <% end %>
  <% cells.each do |cell| %>
    <td><%= cell %></td>
  <% end %>
  <% if items? %>
    <td><ul class="list-unstyled">
      <% items.each do |item| %>
        <li><%= item %></li>
      <% end %>
    </ul></td>
  <% end %>
  <% if empty_cell? %>
    <td></td>
  <% end %>
<% end %>
