<%= render Elements::AlertComponent.new(variant: :input) do %>
  <div class="h3">Review all details below then approve this deposit or return with comments.</div>
  <%= form_with model: review_form, url: review_work_path, method: :put do |form| %>
    <div class="form-check mb-3">
      <%= form.radio_button :review_option, 'approve', class: 'form-check-input' %>
      <%= form.label :review_option_approve, 'Approve', class: 'form-check-label' %>
    </div>
    <div class="form-check mb-3">
      <%= form.radio_button :review_option, 'reject', class: 'form-check-input' %>
      <%= form.label :review_option_reject, 'Return with comments', class: 'form-check-label' %>
      <%= render Elements::Forms::TextareaFieldComponent.new(form:, field_name: :reject_reason, label: 'Reason for returning', hidden_label: true) %>
    </div>

    <%= render Elements::Forms::SubmitComponent.new(label: 'Submit') %>
  <% end %>
<% end %>
