<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-preview">
<% end %>

<div class="row">
  <div class="col-11">
    <%= render Elements::HeadingComponent.new(level: :h1, text: "#{current_user.name} - Dashboard", classes: 'h2 mb-4') %>
  </div>
  <div class="col-1">
    <%= render Elements::ButtonLinkComponent.new(link: admin_dashboard_path, label: 'Admin') if allowed_to?(:show?, with: AdminPolicy) %>
  </div>
</div>
<%= render SdrViewComponents::Elements::AlertComponent.new(dismissible: false) do %>
  <%= t('banner.dashboard_html') %>
<% end %>

<% if @draft_works.present? %>
  <div class="mb-5">
    <%= render Elements::HeadingComponent.new(level: :h2, text: 'Drafts - please complete', classes: 'h3 mb-4 w-100') %>
    <%= render Dashboard::Show::DraftsListComponent.new(works: @draft_works) %>
  </div>
<% end %>

<% if current_user.your_pending_review_works.exists? %>
  <div class="mb-5">
    <%= render Elements::HeadingComponent.new(level: :h2, text: 'Items waiting for collection manager or reviewer to approve', classes: 'h3 mb-4 w-100 text-nowrap') %>
    <%= render Dashboard::Show::WorksListComponent.new(works: current_user.your_pending_review_works, id: 'pending-review-table') %>
  </div>
<% end %>

<% if @shared_works.exists? %>
  <div class="mb-5">
    <%= render Elements::HeadingComponent.new(level: :h2, text: 'Items shared with you', classes: 'h3 mb-4 w-100 text-nowrap') %>
    <%= render Dashboard::Show::WorksListComponent.new(works: @shared_works, id: 'shares-table') %>
  </div>
<% end %>

<div class="d-flex justify-content-between mb-4">
  <%= render Elements::HeadingComponent.new(level: :h2, text: 'Your collections', classes: 'h3 mb-0') %>
  <%= render Elements::ButtonLinkComponent.new(link: new_collection_path, label: 'Create a new collection', variant: :primary) if allowed_to?(:new?, Collection) %>
</div>

<% @your_collections.each do |collection| %>
  <div class="mb-5">
    <%= render Collections::HeaderLinkComponent.new(collection:) %>
    <%= render Dashboard::Show::CollectionWorksListComponent.new(collection:, status_map: @status_map) %>
    <%= render Dashboard::Show::FirstUseAlertComponent.new(user: current_user) %>
    <%= render Elements::ButtonLinkComponent.new(link: new_work_path(collection_druid: collection.druid), label: 'Deposit to this collection', variant: :primary, classes: 'mt-4') %>
  </div>
<% end %>

<div class="mb-5">
    <%= link_to('Looking for a different collection?', '#',
                data: {
                  bs_toggle: 'modal',
                  bs_target: '#request-collection-form-modal'
                }) %>
</a>
</div>
