<div class="row mb-3">
  <div class="col">
    <%= tag.div data: { controller: 'autocomplete', autocomplete_url_value: affiliations_search_path, autocomplete_query_param_value: 'query', autocomplete_min_length_value: '3' } do %>
      <%= render Elements::Forms::TextFieldComponent.new(form:,
                                                         field_name: :institution,
                                                         label: helpers.t('works.edit.fields.affiliations.institution.label'),
                                                         tooltip: helpers.t('works.edit.fields.affiliations.institution.tooltip_html'),
                                                         input_data: { autocomplete_target: 'input' }) %>
      <ul class="list-group" data-autocomplete-target="results" style="overflow-y: scroll; max-height: 425px;"></ul>
      <%= form.hidden_field :uri, { data: { autocomplete_target: 'hidden' } } %>
    <% end %>
  </div>
  <div class="col">
    <%= render Elements::Forms::TextFieldComponent.new(form:, field_name: :department, label: helpers.t('works.edit.fields.affiliations.department.label'), tooltip: helpers.t('works.edit.fields.affiliations.department.tooltip_html'), container_classes: 'mb-4') %>
  </div>
</div>
<div class="row">
  <div class="col">
    <div data-controller="invalid-feedback" data-invalid-feedback-tab-error-outlet=".tab-error" data-invalid-feedback-tab-value="affiliations"></div>
    <%= render Elements::Forms::InvalidFeedbackComponent.new(form:, field_name: :uri, data: { invalid_feedback_target: 'feedback' }, classes: 'mb-2') %>
  </div>
</div>
