<%= tag.div class: 'd-none pane-section', data: do %>
  <% if content %>
    <%= content %>
  <% else %>
    <%= render Elements::Forms::FieldsetComponent.new(label:, tooltip:, aria: fieldset_aria) do %>
      <p class="mb-3"><%= help_text %></p>
      <%= render Elements::Forms::InvalidFeedbackComponent.new(form:, field_name: error_field_name) %>

      <% if required_subtypes.present? %>
        <p><%= required_subtype_text %></p>
      <% end %>

      <% if minimum_terms.positive? %>
        <p>Select at least <%= term_phrase %> below:</p>
      <% else %>
        <p>Choosing additional terms is optional.</p>
      <% end %>
      <div class="types-container">
        <%= render Elements::Forms::InputCollectionCheckboxesComponent.new(form:, field_name: :work_subtypes, input_collection: work_subtypes, **disabled_params) %>
      </div>

      <%# More options %>
      <% if more_options? %>
        <%= tag.a class: 'mt-4 d-block', data: { bs_toggle: 'collapse' }, href: "##{collapse_id}", role: 'button', 'aria-expanded': false, 'aria-controls': collapse_id do %>
          See more subtype options
        <% end %>
        <%= tag.div id: collapse_id, class: 'collapse' do %>
          <div class="types-container">
            <%= render Elements::Forms::InputCollectionCheckboxesComponent.new(form:, field_name: :work_subtypes, input_collection: more_types, **disabled_params) %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
