<%= turbo_frame_tag content, 'edit' do %>
  <%= form_with model: content, data: {
        controller: 'dropzone',
        dropzone_max_filesize_value: Settings.file_upload.max_filesize,
        dropzone_ahoy_value: Settings.ahoy.form_changes,
        dropzone_form_id_value: form_id,
        dropzone_dropzone_files_outlet: '.dropzone-files',
        dropzone_tab_error_outlet: '.tab-error',
        action: 'change->unsaved-changes#changed'
      }, id: 'file-dropzone', class: 'dropzone' do |form| %>
    <%= render SdrViewComponents::Elements::AlertComponent.new(classes: 'd-none', data: { dropzone_target: 'folderAlert' }) do %>
      <span data-dropzone-target="folderAlertText"></span>
      <%= render SdrViewComponents::Elements::ButtonComponent.new(label: 'Reset', variant: 'outline-primary', classes: 'ms-3', data: { action: 'dropzone#clearBasePath' }) %>
    <% end %>
    <%= render Elements::ProgressBarComponent.new(label: 'Upload progress', classes: 'd-none', data: { dropzone_target: 'progress' }) %>
    <ul data-dropzone-target="error" class="d-none list-unstyled text-danger"></ul>
    <div class="dz-message">
      <div class="fs-1"><%= upload_icon %></div>
      <div class="fs-5">Drag and drop your files here, up to 10GB or 25,000 files.</div>
      <div class="fs-5">or</div>
      <%= render SdrViewComponents::Elements::ButtonComponent.new(label: 'Select files to upload', variant: :'outline-primary', classes: 'mt-2') %>
    </div>
  <% end %>
<% end %>
