<%= turbo_frame_tag content, 'show' do %>
  <% content_files ||= content.content_files.page(1) %>
  <% if content_files.empty? %>
    <p>Your files will appear here once they have been uploaded.</p>
  <% elsif content.content_files.count > Settings.file_upload.hierarchical_files_limit %>
    <%= render Elements::Tables::TableComponent.new(id: 'content-table', label: 'Files', show_label: false) do |component| %>
      <% component.with_header(headers: ['File Name', 'Description', 'Hide', 'Action']) %>
      <% content_files.each do |content_file| %>
        <% component.with_row do |row_component| %>
          <% row_component.with_cell do %>
            <%= content_file.filename %>
          <% end %>
          <% row_component.with_cell do %>
            <%= render Works::Edit::ContentFileDescriptionComponent.new(content_file:) %>
          <% end %>
          <% row_component.with_cell do %>
            <%= render Works::Edit::ContentFileHideComponent.new(content_file:) %>
          <% end %>
          <% row_component.with_cell do %>
            <%= render Works::Edit::ContentFileDeleteComponent.new(content_file:) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <%= paginate content_files, params: { controller: 'contents', action: 'show', id: content.id } %>
  <% else %>
    <%= render Works::Edit::ContentHierarchyComponent.new(content_obj: content) %>
  <% end %>
<% end %>
