<%= turbo_frame_tag @content do %>
  <% if @content.content_files.count > Settings.file_upload.hierarchical_files_limit %>
    <%= render Elements::Tables::TableComponent.new(id: 'files-table', classes: 'table-work') do |component| %>
      <% component.with_caption do %><%= render Show::TableHeadingComponent.new(text: 'Files', presenter: @work_presenter, tab: :files) %><% end %>
      <% component.with_headers([
                                  { label: 'File Name', classes: 'col-6' },
                                  { label: 'Description', classes: 'col-6' },
                                  { label: 'Hide', classes: 'col-6' }
                                ]) %>
      <% @content_files.each do |content_file| %>
        <% component.with_row do |row_component| %>
          <% row_component.with_cell do %>
            <%= content_file.filepath %><%= render Works::Show::ContentFileDownloadButtonComponent.new(content_file:) %>
          <% end %>
          <% row_component.with_cell do %>
            <%= content_file.label %>
          <% end %>
          <% row_component.with_cell do %>
            <%= human_boolean(content_file.hide) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <div class="mb-5">
      <%= paginate @content_files, params: { controller: 'contents', action: 'show_table', id: @content.id } %>
    </div>
  <% else %>
    <%= render Works::Show::ContentHierarchyComponent.new(content_obj: @content, work_presenter: @work_presenter) %>
  <% end %>
<% end %>
