<% content_for :breadcrumbs do %>
  <%= render SdrViewComponents::Elements::BreadcrumbNavComponent.new do |component| %>
    <% component.with_breadcrumb(text: 'Dashboard', link: dashboard_path) %>
    <% component.with_breadcrumb(text: 'Admin dashboard', link: admin_dashboard_path) %>
    <% component.with_breadcrumb(text: 'Collections recent activity') %>
  <% end %>
<% end %>

<div class="d-flex justify-content-end">
  <%= render Admin::FunctionDropdownComponent.new %>
</div>

<%= render Elements::HeadingComponent.new(level: :h1, text: 'Collections recent activity', classes: 'h2 mb-4') %>

<%= render Admin::RecentActivityFormComponent.new(form: @form, url: admin_recent_activity_collections_path) %>

<%= render Admin::RecentActivityListComponent.new(rows: @rows, label: 'Collections', headers: [{ label: 'Collections' }]) %>
