<% content_for :breadcrumbs do %>
  <%= render SdrViewComponents::Elements::BreadcrumbNavComponent.new do |component| %>
    <% component.with_breadcrumb(text: 'Dashboard', link: dashboard_path) %>
    <% component.with_breadcrumb(text: 'Admin dashboard', link: admin_dashboard_path) %>
    <% component.with_breadcrumb(text: 'Generate item report') %>
  <% end %>
<% end %>

<div class="d-flex justify-content-end">
  <%= render Admin::FunctionDropdownComponent.new %>
</div>

<%= render Elements::HeadingComponent.new(level: :h2, text: 'Generate item report', classes: 'h2 mb-4') %>
<%= render Elements::HeadingComponent.new(level: :h3, text: 'Limit your search with one or more of the options below', classes: 'h3 mb-4') %>

<%= form_with model: @work_report_form, url: admin_work_report_path, class: 'mb-5' do |form| %>
  <%= render Elements::Forms::LabelComponent.new(form:, field_name: :date_created_start, label_text: 'Date created range', classes: 'mb-2') %>
  <div class='row mb-4'>
      <%= render Elements::Forms::DatepickerComponent.new(form:, field_name: :date_created_start, label: 'Date created start', hidden_label: true, container_classes: 'col-md-5 ms-2') %>
      to
      <%= render Elements::Forms::DatepickerComponent.new(form:, field_name: :date_created_end, label: 'Date created end', hidden_label: true, container_classes: 'col-md-5 ms-2') %>
  </div>
  <%= render Elements::Forms::LabelComponent.new(form:, field_name: :date_modified_start, label_text: 'Date modified range', classes: 'mb-2') %>
  <div class='row mb-4'>
    <%= render Elements::Forms::DatepickerComponent.new(form:, field_name: :date_modified_start, label: 'Date last modified start', hidden_label: true, container_classes: 'col-md-5 ms-2') %>
    to
    <%= render Elements::Forms::DatepickerComponent.new(form:, field_name: :date_modified_end, label: 'Date last_modified end', hidden_label: true, container_classes: 'col-md-5 ms-2') %>
  </div>
  <%= render Elements::Forms::LabelComponent.new(form:, field_name: :last_deposited_at_start, label_text: 'Date last deposited range', classes: 'mb-2') %>
  <div class='row mb-4'>
    <%= render Elements::Forms::DatepickerComponent.new(form:, field_name: :last_deposited_start, label: 'Date last deposited start', hidden_label: true, container_classes: 'col-md-5 ms-2') %>
    to
    <%= render Elements::Forms::DatepickerComponent.new(form:, field_name: :last_deposited_end, label: 'Date last deposited end', hidden_label: true, container_classes: 'col-md-5 ms-2') %>
  </div>
  <%= render Elements::Forms::LabelComponent.new(form:, field_name: :collection_ids, label_text: 'Collection(s)', classes: 'mb-2') %>
  <%= render SdrViewComponents::Forms::HelpTextComponent.new(id: 'collection-ids-help') do %>
    <ul>
      <li>To include all collections in the report, do not make any selections from this list.</li>
      <li>To select multiple collections, hold down the command button for Mac, or hold down the control button for Windows.</li>
    </ul>
  <% end %>
  <div class='mb-4'>
  <%= form.collection_select :collection_ids, @collections, :id, :title, { multiple: true }, class: 'form-select' %>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= render Elements::Forms::FieldsetComponent.new(label: 'Item deposit state', classes: 'pane-section mb-2') do %>
        <%= render SdrViewComponents::Forms::CheckboxComponent.new(form:, field_name: :draft_not_deposited_state, label_text: 'Draft - not deposited') %>
        <%= render SdrViewComponents::Forms::CheckboxComponent.new(form:, field_name: :deposit_in_progress_state, label_text: 'Deposit in progress') %>
        <%= render SdrViewComponents::Forms::CheckboxComponent.new(form:, field_name: :deposited_state, label_text: 'Deposited') %>
        <%= render SdrViewComponents::Forms::CheckboxComponent.new(form:, field_name: :version_draft_state, label_text: 'New version in draft') %>
       <% end %>
    </div>
    <div class="col-md-6">
      <%= render Elements::Forms::FieldsetComponent.new(label: 'Item review state', classes: 'pane-section mb-2') do %>
        <%= render SdrViewComponents::Forms::CheckboxComponent.new(form:, field_name: :pending_review_state, label_text: 'Pending review') %>
        <%= render SdrViewComponents::Forms::CheckboxComponent.new(form:, field_name: :returned_state, label_text: 'Returned') %>
      <% end %>
    </div>
  </div>

  <%= render SdrViewComponents::Forms::SubmitComponent.new(label: 'Submit', classes: 'mt-4') %>
<% end %>
