<%= tag.div class: classes, 'data-controller': 'tab-error' do %>
  <div class="col-md-3">
    <%= tag.div class: 'nav nav-pills d-flex flex-column rounded-top rounded-bottom', role: 'tablist', 'aria-orientation': 'vertical' do |component| %>
      <% tabs.each do |tab| %>
        <%= tab %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-9">
    <div class="tab-content h-100">
      <% before_form_panes.each do |pane| %>
        <%= pane %>
      <% end %>
      <%= form_with(model:, id: form_id, data: { action: 'change->unsaved-changes#changed' }) do |form| %>
        <% hidden_fields.each do |field| %>
          <%= form.hidden_field field %>
        <% end %>

        <% panes.each do |pane| %>
          <%= pane %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
