<div data-controller="unsaved-changes" data-action="change->unsaved-changes#changed beforeunload@window->unsaved-changes#leavingPage turbo:before-visit@window->unsaved-changes#leavingPage">
  <% content_for :breadcrumbs do %>
    <%= render Elements::BreadcrumbNavComponent.new do |component| %>
      <% component.with_breadcrumb(text: 'Dashboard', link: dashboard_path) %>
      <% component.with_collection_breadcrumb(text: @work.collection.title, link: collection_path(@work.collection)) %>
      <% component.with_title_breadcrumb(text: @work.title, link: work_path(@work)) %>
      <% component.with_breadcrumb(text: 'Manage sharing') %>
    <% end %>
  <% end %>

  <%= render Elements::HeadingComponent.new(level: :h1, variant: :h2, text: @work.title, classes: 'mb-4') %>

  <%= form_with model: @form, url: work_shares_path(@work), data: { action: 'change->unsaved-changes#changed' } do |form| %>
    <%= render Elements::HeadingComponent.new(level: :h2, variant: :h4, text: 'Manage shares', classes: 'mb-3') %>

    <%= render Edit::BulkParticipantsComponent.new(form:, field_name: :shares, model_class: ShareForm, form_component: Works::Edit::ShareComponent, add_button_label: 'Add') %>

    <div class="d-flex align-items-baseline">
      <%= render Elements::CancelButtonComponent.new(link: work_path(@work), classes: 'me-2') %>
      <%= render Elements::Forms::SubmitComponent.new(label: 'Save', classes: 'mt-3 mb-4', data: { action: 'unsaved-changes#allowFormSubmission' }) %>
    </div>
  <% end %>
</div>
