<% content_for :breadcrumbs do %>
  <%= render SdrViewComponents::Elements::BreadcrumbNavComponent.new do |component| %>
    <% component.with_breadcrumb(text: 'Dashboard', link: dashboard_path) %>
    <% component.with_breadcrumb(text: 'Admin dashboard', link: admin_dashboard_path) %>
    <% component.with_breadcrumb(text: 'Emulate being not an admin') %>
  <% end %>
<% end %>

<div class="d-flex justify-content-end">
  <%= render Admin::FunctionDropdownComponent.new %>
</div>

<%= render Elements::HeadingComponent.new(level: :h1, text: 'Emulate being not an admin', classes: 'h2 mb-4') %>

<%= form_with url: admin_emulate_path, class: 'mb-5' do |form| %>
  <p>By clicking "Submit" you will temporarily lose admin privileges.</p>
  <p>Admin privileges will be restored when you start a new browser session or delete the "emulate_not_admin" cookie.</p>
  <%= render SdrViewComponents::Forms::SubmitComponent.new(label: 'Submit', classes: 'mt-4') %>
<% end %>
