<%= render Emails::SalutationComponent.new(user: @user) %>

<p>
  Your deposit, "<%= @work.title %>," is now published in the <%= @collection.title %> collection
  in the Stanford Digital Repository.
</p>

<%= render Emails::Works::SubmitClarificationComponent.new %>

<%= render Emails::Works::PurlComponent.new(work: @work) %>

<%= render Emails::Works::OptionsComponent.new(work_presenter: @work_presenter) %>

<%= render Emails::Works::DoiComponent.new(work_presenter: @work_presenter, work: @work) %>

<%= render Emails::Works::ChangesComponent.new %>

<%= render Emails::Works::SearchworksComponent.new %>

<%= render Emails::ContactComponent.new %>

<%= render Emails::SignatureComponent.new %>

<%= render Emails::NewsletterComponent.new %>
