<%= render Emails::SalutationComponent.new(user: @user) %>

<p>Updates to your deposit, "<%= @work.title %>," are now published in the <%= @collection.title %> collection
  in the Stanford Digital Repository. The persistent URL (PURL) for this deposit is
  <%= link_to nil, Sdr::Purl.from_druid(druid: @work.druid) %>. Please use this when citing your work.</p>

<%= render Emails::Works::OptionsComponent.new(work_presenter: @work_presenter) %>

<%= render Emails::Works::DoiComponent.new(work_presenter: @work_presenter, work: @work) %>

<%= render Emails::Works::ChangesComponent.new %>

<%= render Emails::Works::SearchworksComponent.new %>

<%= render Emails::ContactComponent.new %>

<%= render Emails::SignatureComponent.new %>
