<%= render Emails::SalutationComponent.new(user: @user) %>

<p>You are now the owner of the item "<%= @work.title %>" in the Stanford Digital Repository
  and have access to manage its metadata and files.
  Click <%= link_to work_url(@work), work_url(@work) %> to view or edit this item.</p>

<p>You now also have permission to deposit items into the <%= @work.title %> collection.

<p>Please check the contact emails information on this item and if it is no longer current,
  update this field by clicking on the blue pencil icon next to the header "Title and contact."</p>

<%= render Emails::ContactComponent.new %>

<%= render Emails::SignatureComponent.new %>

<%= render Emails::NewsletterComponent.new %>
