<%= render Emails::SalutationComponent.new(user: @share.user) %>

<p><%= @work.user.name %> has shared with you the work "<%= link_to @work.title, @work %>" in the Stanford Digital Repository. You have permission to <%= @share.permission %> the work.

<p>You an access the work by logging into the SDR at <a href="https://sdr.stanford.edu">https://sdr.stanford.edu</a> or clicking the linked work title above.</p>

<p>Please be sure to review the <%= link_to 'Terms of Deposit', Settings.terms_url %>.</p>

<%= render Emails::ContactComponent.new %>

<%= render Emails::SignatureComponent.new %>

<%= render Emails::NewsletterComponent.new %>
