<%= render Emails::SalutationComponent.new(user: @user) %>

<p>A Manager of the <%= @collection.title %> collection has updated the permissions
   for this collection and removed you as a depositor. You no longer have permission
   to deposit to this collection. Please contact the collection managers below
   if you have questions about this change.</p>

<p>Collection Managers:<br>
  <% @collection.managers.each do |manager| %>
    <%= manager.email_address %><br>
  <% end %>
</p>

<%= render Emails::ContactComponent.new %>

<%= render Emails::SignatureComponent.new %>
