<%= render Emails::SalutationComponent.new(user: @user) %>

<p>You have been invited to deposit to the <%= @collection.title %> collection in the Stanford Digital Repository.
  Start your deposit at <%= link_to collection_url(@collection.druid), collection_url(@collection.druid, anchor: 'deposits') %>.</p>

<p>SDR deposits can be discovered in the Stanford library catalog and can be accessed by others at a persistent link (PURL). <a href="https://purl.stanford.edu/wd068fv8349">Example of a PURL.</a>

<p>In some cases a deposit requires review and approval before the PURL is available. <a href="https://sdr.library.stanford.edu/documentation/sdr-submission-workflows">Read about the approval process.</a>

<p>Before you complete your deposit, you will need to accept the <%= link_to 'Terms of Deposit', Settings.terms_url %>.

<%= render Emails::ContactComponent.new %>

<%= render Emails::SignatureComponent.new %>

<%= render Emails::NewsletterComponent.new %>
