<%= render Emails::SalutationComponent.new(user: @user) %>

<p>You have been invited to be a Manager of the <%= @collection.title %> collection in the
   Stanford Digital Repository. Managers have the ability to manage global settings for the collection,
   manage Depositors and other participants, and edit any deposits in the collection.</p>

<p>To visit the collection where deposits are made, and for more information about SDR repository services,
   please visit https://<%= Settings.host %>.</p>

<%= render Emails::ContactComponent.new %>

<%= render Emails::SignatureComponent.new %>

<%= render Emails::NewsletterComponent.new %>
