<%= render Emails::SalutationComponent.new(user: @user) %>

<p>You have been invited to review new deposits to the <%= @collection.title %> collection in the
   Stanford Digital Repository. When a Depositor submits a deposit, you will receive an email
   notification with a direct link to the deposit to be reviewed.</p>

<p>To visit the collection where deposits are made, and for more information about SDR repository services,
  please visit <%= link_to nil, root_url %>.</p>

<%= render Emails::ContactComponent.new %>

<%= render Emails::SignatureComponent.new %>

<%= render Emails::NewsletterComponent.new %>
