<div data-controller="release" class="pane-section">
  <%= render Elements::Forms::FieldsetComponent.new(label: helpers.t('collections.edit.fields.release_option.label'), tooltip: helpers.t('collections.edit.fields.release_option.tooltip_html')) do %>
    <div class="form-check">
      <div class="ps-2">
        <%= form.radio_button :release_option, 'immediate',
                              class: 'form-check-input',
                              data: { release_target: 'releaseImmediate', action: 'click->release#resetReleaseDuration' } %>
        <%= form.label :release_option_immediate, helpers.t('collections.edit.fields.release_option.options.immediate'), class: 'form-check-label' %>
      </div>
    </div>
    <div class="form-check d-flex pt-2">
      <div class="ps-2">
        <%= form.radio_button :release_option, 'depositor_selects', class: 'form-check-input' %>
        <%= form.label :release_option_depositor_selects, helpers.t('collections.edit.fields.release_option.options.depositor_selects'), class: 'form-check-label' %>
      </div>
      <div class="ps-2">
        <%= render Elements::Forms::SelectFieldComponent.new(form:, field_name: :release_duration,
                                                             options: release_duration_options,
                                                             label: 'Release duration',
                                                             hidden_label: true,
                                                             data: { release_target: 'releaseDuration' }) %>
      </div>
    </div>
  <% end %>
</div>
<%= render Elements::Forms::FieldsetComponent.new(label: helpers.t('collections.edit.fields.access.label'), tooltip: helpers.t('collections.edit.fields.access.tooltip_html'), classes: 'pane-section') do %>

  <p>
    Files that have been explicitly "hidden" in the file upload section
    will not be listed on the public webpage for the item and will not be
    downloadable by anyone, regardless of which option below is selected
    for the deposit. See "Can I restrict access to content deposited in
    the SDR?" near the bottom of our
    <%= helpers.link_to_new_tab 'Copyrights, licenses, and access restrictions', Settings.access_url %>
    documentation page.
  </p>

  <div class="form-check">
    <div class="ps-2">
      <%= form.radio_button :access, 'world', class: 'form-check-input' %>
      <%= form.label :access_world, helpers.t('collections.edit.fields.access.options.world'), class: 'form-check-label' %>
    </div>
  </div>
  <div class="form-check pt-2">
    <div class="ps-2">
      <%= form.radio_button :access, 'stanford', class: 'form-check-input' %>
      <%= form.label :access_world, helpers.t('collections.edit.fields.access.options.stanford'), class: 'form-check-label' %>
    </div>
  </div>
  <div class="form-check pt-2">
    <div class="ps-2">
      <%= form.radio_button :access, 'depositor_selects', class: 'form-check-input' %>
      <%= form.label :access_world, helpers.t('collections.edit.fields.access.options.depositor_selects'), class: 'form-check-label' %>
    </div>
  </div>
<% end %>
<%= render Elements::Forms::FieldsetComponent.new(label: helpers.t('collections.edit.fields.doi_option.label'),
                                                  tooltip: helpers.t('collections.edit.fields.doi_option.tooltip_html'),
                                                  classes: 'pane-section') do |component| %>
  <% component.with_help_link do %>
    <%= helpers.link_to_new_tab('What is a DOI?', 'https://sdr.library.stanford.edu/documentation/purls-dois-and-orcid-ids') %>
  <% end %>

 <div class="form-check">
    <div class="ps-2">
      <%= form.radio_button :doi_option, 'yes', class: 'form-check-input' %>
      <%= form.label :doi_option_yes, helpers.t('collections.edit.fields.doi_option.options.doi_yes'), class: 'form-check-label' %>
    </div>
  </div>
  <div class="form-check pt-2">
    <div class="ps-2">
      <%= form.radio_button :doi_option, 'no', class: 'form-check-input' %>
      <%= form.label :doi_option_no, helpers.t('collections.edit.fields.doi_option.options.doi_no'), class: 'form-check-label' %>
    </div>
  </div>
  <div class="form-check pt-2">
    <div class="ps-2">
      <%= form.radio_button :doi_option, 'depositor_selects', class: 'form-check-input' %>
      <%= form.label :doi_option_depositor_selects, helpers.t('collections.edit.fields.doi_option.options.depositor_selects'), class: 'form-check-label' %>
    </div>
  </div>
<% end %>
