<%= render Elements::Forms::FieldsetComponent.new(label: 'License settings', hidden_label: true, classes: 'pane-section') do %>
  <div class="form-check d-flex pt-2 row">
    <div class="col-md-4">
      <%= form.radio_button :license_option, 'required', class: 'form-check-input' %>
      <%= form.label :license_option_required, 'Require license for all deposits', class: 'form-check-label' %>
    </div>
    <div class="col-md-5">
      <%= render Elements::Forms::SelectFieldComponent.new(form:, field_name: :license, options: license_options, hidden_label: true, label: 'Required license', container_classes: 'mb-4', prompt: 'Select required license...') %>
    </div>
    <div class="col-md-3">
      <%= helpers.link_to_new_tab('Get help selecting a license', Settings.license_url) %>
    </div>
  </div>
  <div class="form-check d-flex pt-2 row">
    <div class="col-md-4">
      <%= form.radio_button :license_option, 'depositor_selects', class: 'form-check-input' %>
      <%= form.label :license_option_depositor_selects, 'Depositor selects license', class: 'form-check-label' %>
    </div>
    <div class="col-md-5">
      <%= render Elements::Forms::SelectFieldComponent.new(form:, field_name: :default_license, options: license_options, hidden_label: true, label: 'Default license', container_classes: 'mb-4', prompt: 'Select license to display by default...') %>
    </div>
  </div>
<% end %>
