<%= render Elements::Forms::FieldsetComponent.new(label: t('collection_form.fields.license.label'), classes: 'pane-section', data: { controller: 'radio' }, mark_required: true) do %>
  <div class="form-check d-flex pt-2 row">
    <div class="col-md-4">
      <%= form.radio_button :license_option, 'required', class: 'form-check-input', data: { radio_target: 'radio', action: 'radio#toggle' } %>
      <%= form.label :license_option_required, t('collection_form.fields.license.required'), class: 'form-check-label' %>
    </div>
    <div class="col-md-5">
      <%= render Elements::Forms::SelectFieldComponent.new(form:, field_name: :license, options: license_options, hidden_label: true, label: t('collection_form.fields.license.required_label'), container_classes: 'mb-4', prompt: t('collection_form.fields.license.required_prompt')) %>
    </div>
    <div class="col-md-3">
      <%= helpers.link_to_new_tab(t('collection_form.fields.license.help_link'), Settings.license_url) %>
    </div>
  </div>
  <div class="form-check d-flex pt-2 row">
    <div class="col-md-4">
      <%= form.radio_button :license_option, 'depositor_selects', class: 'form-check-input', data: { radio_target: 'radio', action: 'radio#toggle' } %>
      <%= form.label :license_option_depositor_selects, t('collection_form.fields.license.depositor_selects'), class: 'form-check-label' %>
    </div>
    <div class="col-md-5">
      <%= render Elements::Forms::SelectFieldComponent.new(form:, field_name: :default_license, options: license_options, hidden_label: true, label: t('collection_form.fields.license.default_label'), container_classes: 'mb-4', prompt: t('collection_form.fields.license.default_prompt')) %>
    </div>
  </div>
<% end %>
