<fieldset>
  <div class="form-check d-flex pt-2">
    <div class="ps-2">
      <%= form.radio_button :license_option, 'required', class: 'form-check-input' %>
      <%= form.label :license_option_required, 'Require license for all deposits', class: 'form-check-label' %>
    </div>
    <div class="ps-2">
      <%= render Elements::Forms::SelectFieldComponent.new(form:, field_name: :license, options: license_options, hidden_label: true, label:, width: 250, container_classes: 'mb-4') %>
    </div>
    <div class="ps-2">
      <%= helpers.link_to_new_tab('Get help selecting a license', Settings.license_url) %>
    </div>
  </div>
  <div class="form-check d-flex pt-2">
    <div class="ps-2">
      <%= form.radio_button :license_option, 'depositor_selects', class: 'form-check-input' %>
      <%= form.label :license_option_depositor_selects, 'Depositor selects license', class: 'form-check-label' %>
    </div>
    <div class="ps-2">
      <%= render Elements::Forms::SelectFieldComponent.new(form:, field_name: :default_license, options: license_options, hidden_label: true, label:, width: 250, container_classes: 'mb-4') %>
    </div>
  </div>
</fieldset>
