<%= render Edit::TabForm::PaneComponent.new(**pane_args) do |component| %>
  <%= content %>
  <% component.with_footer do %>
    <div class="mt-4 d-flex justify-content-between">
      <div>
        <% if deposit_button? %>
          <%= deposit_button %>
        <% else %>
          <%= render Edit::TabForm::NextButtonComponent.new(tab_id:) %>
        <% end %>
      </div>
      <div>
        <%= render Elements::CancelButtonComponent.new(link: root_path) %>
      </div>
    </div>
  <% end %>
<% end %>
