<%= render Edit::TabForm::PaneComponent.new(**pane_args) do |component| %>
  <%= content %>
  <% component.with_footer do %>
    <div class="d-flex">
      <%= render Elements::CancelButtonComponent.new(link: dashboard_path, classes: 'me-2') %>
      <% if deposit_button? %>
        <%= deposit_button %>
      <% else %>
        <%= render Edit::TabForm::NextButtonComponent.new(tab_id:) %>
      <% end %>
    </div>
  <% end %>
<% end %>
