<div class="pane-section">
  <%= render Elements::Forms::FieldsetComponent.new(label: helpers.t('collections.edit.panes.terms_of_use.use_statement_label'), data: { controller: 'radio' }) do %>
    <div class="form-check">
      <%= form.radio_button :custom_rights_statement_option, 'no', class: 'form-check-input', data: { radio_target: 'radio', action: 'radio#toggle' } %>
      <%= form.label :custom_rights_statement_option_no, helpers.t('collections.edit.panes.terms_of_use.use_statement_options.nope'), class: 'form-check-label' %>
    </div>
    <div class="form-check pt-2">
      <%= form.radio_button :custom_rights_statement_option, 'provided', class: 'form-check-input', data: { radio_target: 'radio', action: 'radio#toggle' } %>
      <%= form.label :custom_rights_statement_option_provided, helpers.t('collections.edit.panes.terms_of_use.use_statement_options.provided'), class: 'form-check-label' %>
      <%= form.text_area :provided_custom_rights_statement, class: 'form-control my-3', rows: 2, maxlength: 1000 %>
    </div>
    <div class="form-check pt-2">
      <%= form.radio_button :custom_rights_statement_option, 'depositor_selects', class: 'form-check-input', data: { radio_target: 'radio', action: 'radio#toggle' } %>
      <%= form.label :custom_rights_statement_option_depositor_selects, helpers.t('collections.edit.panes.terms_of_use.use_statement_options.depositor_selects'), class: 'form-check-label' %>
      <%= form.text_area :custom_rights_statement_instructions, class: 'form-control my-3', rows: 2, maxlength: 1000, value: helpers.t('terms_of_use.default_use_statement_instructions') %>
    </div>
  <% end %>
</div>
