<% content_for :breadcrumbs do %>
  <%= render Elements::BreadcrumbNavComponent.new do |component| %>
    <% component.with_breadcrumb(text: 'Dashboard', link: dashboard_path) %>
    <% component.with_breadcrumb(text: 'Admin dashboard') %>
  <% end %>
<% end %>

<div class="d-flex justify-content-end">
  <%= render Admin::FunctionDropdownComponent.new do |component| %>
    <% component.with_function(label: 'Search for user', link: admin_users_path) %>
    <% component.with_function(label: 'Get SUNet IDs of depositors', link: new_admin_depositors_search_path) %>
  <% end %>
</div>

<%= render Elements::HeadingComponent.new(level: :h1, text: 'Admin dashboard', classes: 'h2 mb-4') %>

<div class="mb-5">
  <%= turbo_frame_tag 'collection-search', src: new_admin_collection_search_path do %>
    <%= render Elements::SpinnerComponent.new %>
  <% end %>
</div>

<div class="mb-5">
  <%= turbo_frame_tag 'druid-search', src: new_admin_druid_search_path do %>
    <%= render Elements::SpinnerComponent.new %>
  <% end %>
</div>
