<div class="d-flex justify-content-between">
  <div class="mb-4">
    <%= render Elements::HeadingComponent.new(level: :h1, text: title) %>
  </div>
  <div class="d-flex align-items-start ms-5">
    <%= render Edit::EditDraftButtonComponent.new(presenter:, label: 'Edit', classes: 'text-nowrap') if edit? %>
    <% if !presenter.first_draft? && allowed_to_create_work? %>
      <%= render Elements::ButtonLinkComponent.new(link: new_work_path(collection_druid: presenter.druid),
                                                   label: 'Deposit to this collection',
                                                   variant: :primary,
                                                   classes: 'ms-2 text-nowrap') %>
    <% end %>
    <%= render Admin::FunctionDropdownComponent.new(classes: 'ms-2') do |component| %>
      <% component.with_function(label: 'Delete', link: new_collection_admin_delete_path(presenter.druid), data: { turbo_frame: 'admin-card' }) %>
    <% end %>
  </div>
</div>
<%= tag.turbo_frame id: 'admin-card' %>
