<h1 class="h2 mb-3"><%= @work_form.title || 'Untitled deposit' %></h1>
 <%= render Elements::AlertComponent.new(variant: :danger, value: I18n.t('works.edit.errors.validation')) if @work_form.errors.present? %>
 <div class="d-flex tabbable-panes" data-controller="tab-error">
    <div class="nav nav-pills flex-column px-2 py-1 me-5 col-3" role="tablist" aria-orientation="vertical">
        <%= render Works::Edit::TabComponent.new(label: I18n.t('works.edit.panes.title.tab_label'), tab_name: :title, selected: true) %>
        <%= render Works::Edit::TabComponent.new(label: I18n.t('works.edit.panes.abstract.tab_label'), tab_name: :abstract) %>
        <%= render Works::Edit::TabComponent.new(label: I18n.t('works.edit.panes.deposit.tab_label'), tab_name: :deposit) %>
    </div>
    <%= form_with model: @work_form, class: 'w-100' do |form| %>
      <%= form.hidden_field :lock %>
      <%= form.hidden_field :version %>
      <div class="tab-content h-100">
          <%= render Works::Edit::PaneComponent.new(tab_name: :title, label: I18n.t('works.edit.panes.title.label'), form:, selected: true) do %>
              <%= render Elements::Forms::TextFieldComponent.new(form:, field_name: :title, required: true, label: I18n.t('works.edit.fields.title.label'),
                                                                 help_text: I18n.t('works.edit.fields.title.help_text')) %>
          <% end %>
          <%= render Works::Edit::PaneComponent.new(tab_name: :abstract, label: I18n.t('works.edit.panes.abstract.label'), form:) do %>
              <p><%= t('works.edit.fields.abstract.help_text') %></p>
              <%= render Elements::Forms::TextareaFieldComponent.new(form:, field_name: :abstract, label: I18n.t('works.edit.fields.abstract.label')) %>
          <% end %>
          <%= render Works::Edit::PaneComponent.new(tab_name: :deposit, form:, label: I18n.t('works.edit.panes.deposit.label'), render_footer: false) do %>
            <p><%= t('works.edit.panes.deposit.help_text') %></p>
            <%= link_to 'Cancel', works_path %>
            <%= render Elements::Forms::SubmitComponent.new(form:, label: 'Deposit', classes: 'mt-2 ms-2') %>
          <% end %>
      </div>
    <% end %>
  </div>
