<% content_for :content do %>
  <% form_id = dom_id(@work_form, 'tabbed_form') %>
  <%# Setting discard_draft_form_id to nil causes saves as draft to not be provided. %>
  <% discard_draft_form_id = @work_presenter.github_deposit_never_enabled? ? dom_id(@work_form, 'discard_form') : nil %>
  <%= render Edit::DiscardDraftFormComponent.new(presenter: @work_presenter, id: discard_draft_form_id) if discard_draft_form_id %>
  <% active_tab_name = params[:tab]&.to_sym || @active_tab_name || :title %>
  <%= render Edit::TabForm::TabListComponent.new(model: @work_form, form_id:, hidden_fields: %i[lock version collection_druid content_id creation_date deposit_publication_date apo copyright form_id]) do |component| %>
    <% component.with_tab(label: t('works.edit.panes.title.tab_label'), tab_name: :title, active_tab_name:, mark_required: true) %>
    <% component.with_tab(label: t('works.edit.panes.contributors.tab_label'), tab_name: :contributors, active_tab_name:, mark_required: true) %>
    <% component.with_tab(label: t('works.edit.panes.abstract.tab_label'), tab_name: :abstract, active_tab_name:, mark_required: true) %>
    <% component.with_tab(label: t('works.edit.panes.types.tab_label'), tab_name: :types, active_tab_name:, mark_required: true) %>
    <% component.with_tab(label: t('works.edit.panes.license.tab_label'), tab_name: :license, active_tab_name:, mark_required: true) %>
    <% component.with_tab(label: t('works.edit.panes.related_content.tab_label'), tab_name: :related_content, active_tab_name:) %>
    <% component.with_tab(label: t('works.edit.panes.citation.tab_label'), tab_name: :citation, active_tab_name:) %>
    <% component.with_tab(label: t('works.edit.panes.deposit.tab_label'), tab_name: :deposit, active_tab_name:, mark_required: true) %>
    <%# The panes below need a form in order to render their contents. This provides a "fake" form to use for that purpose. %>
    <%# TabListComponent will render the actual form. %>
    <% form_with(model: @work_form) do |form| %>
      <% component.with_work_pane(tab_name: :title, label: t('works.edit.panes.title.label'), form_id:, discard_draft_form_id:, work_presenter: @work_presenter, active_tab_name:, mark_required: true) do %>
        <%= render Works::Edit::TitleComponent.new(form:, work_form: @work_form) %>
      <% end %>

      <% component.with_work_pane(tab_name: :contributors, label: t('works.edit.panes.contributors.label'), help_text: t('works.edit.panes.contributors.help_text'), tooltip: t('works.edit.panes.contributors.tooltip_html'), form_id:, discard_draft_form_id:, work_presenter: @work_presenter, active_tab_name:, mark_required: true) do %>
        <%= render Works::Edit::ContributorsComponent.new(form:) %>
      <% end %>

      <% component.with_work_pane(tab_name: :abstract, label: t('works.edit.panes.abstract.label'), help_text: t('works.edit.panes.abstract.help_text'), form_id:, discard_draft_form_id:, work_presenter: @work_presenter, active_tab_name:, mark_required: true) do %>
        <%= render Works::Edit::AbstractComponent.new(form:) %>
      <% end %>

      <% component.with_work_pane(tab_name: :types, label: t('works.edit.panes.types.label'), form_id:, discard_draft_form_id:, work_presenter: @work_presenter, active_tab_name:, mark_required: true) do %>
        <%= render Works::Edit::WorkTypeComponent.new(form:, collection: @collection) %>
      <% end %>

      <% component.with_work_pane(tab_name: :license, label: t('works.edit.panes.license.label'), form_id:, discard_draft_form_id:, work_presenter: @work_presenter, active_tab_name:, mark_required: true) do %>
        <%= render Works::Edit::LicenseComponent.new(form:, license_presenter: @license_presenter) %>
        <% unless @collection.no_custom_rights_statement_option? %>
          <%= render Works::Edit::TermsOfUseComponent.new(form:, collection: @collection) %>
        <% end %>
      <% end %>

      <% component.with_work_pane(tab_name: :related_content, label: t('works.edit.panes.related_content.label'), form_id:, discard_draft_form_id:, work_presenter: @work_presenter, active_tab_name:) do %>
        <%= render NestedComponentPresenter.for(form:, field_name: :related_works, model_class: RelatedWorkForm, form_component: RelatedWorks::EditComponent, fieldset_classes: 'pane-section') %>
      <% end %>

      <% component.with_work_pane(tab_name: :citation, label: t('works.edit.panes.citation.label'), tooltip: t('works.edit.panes.citation.tooltip_html'), form_id:, discard_draft_form_id:, work_presenter: @work_presenter, help_text: t('works.edit.panes.citation.help_text'), active_tab_name:) do %>
        <%= render Works::Edit::CitationComponent.new(form:) %>
      <% end %>

      <% component.with_work_pane(tab_name: :deposit, label: t('works.edit.panes.deposit.label'), form_id:, discard_draft_form_id:, work_presenter: @work_presenter, active_tab_name:, next_tab_btn: false, mark_required: true) do |pane_component| %>
        <% pane_component.with_help do %>
          <p class="mb-0">
            <ul>
              <li>Be sure you have completed all the required sections.</li>
              <% if @work_form.agree_to_terms %><li>You have accepted the <a href="#" data-bs-toggle="modal" data-bs-target="#tod-modal">Terms of Deposit</a>.</li><% end %>
            </ul>
          </p>
        <% end %>

        <%# This is a dummy value that is needed for validation, but won't be used for the version description. %>
        <%= form.hidden_field :whats_changing, value: 'Metadata update' %>

        <%# For subsequent deposits, user can choose whether GitHub deposit is enabled. For initial, it will be enabled by default. %>
        <% if !@work_presenter.github_deposit_never_enabled? %>
          <%= render Elements::Forms::FieldsetComponent.new(label: 'Deposit future GitHub releases?', classes: 'row', legend_classes: 'col-md-5') do %>
            <div class="form-check col-md-2">
              <%= form.radio_button :github_deposit_enabled, true, class: 'form-check-input' %>
              <%= form.label :github_deposit_enabled_true, 'Yes', class: 'form-check-label' %>
            </div>
            <div class="form-check col-md-2">
              <%= form.radio_button :github_deposit_enabled, false, class: 'form-check-input' %>
              <%= form.label :github_deposit_enabled_false, 'No', class: 'form-check-label' %>
            </div>
          <% end %>
        <% end %>
        <%= render Works::Edit::TermsOfDepositComponent.new(form:) %>
        <% pane_component.with_deposit_button do %>
          <% deposit_label = @work_presenter.github_deposit_never_enabled? ? 'Save and begin depositing future releases' : 'Save' %>
          <%= render Works::Edit::SubmitComponent.new(deposit_label:, work: @work, collection: @collection, data: { action: 'unsaved-changes#allowFormSubmission' }) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<%= render template: 'works/form_layout' %>
