<% content_for :content do %>
  <% form_id = dom_id(@work_form, 'tabbed_form') %>
  <%# Setting discard_draft_form_id to nil causes saves as draft to not be provided. %>
  <% discard_draft_form_id = @work_presenter.github_deposit_never_enabled? ? dom_id(@work_form, 'discard_form') : nil %>
  <%= render Edit::DiscardDraftFormComponent.new(presenter: @work_presenter, id: discard_draft_form_id) if discard_draft_form_id %>
  <% active_tab_name = params[:tab]&.to_sym || @active_tab_name || :title %>
  <%= render Edit::TabForm::TabListComponent.new(model: @work_form, form_id:, hidden_fields: %i[lock version collection_druid content_id creation_date deposit_publication_date apo copyright form_id]) do |component| %>
    <% component.with_tab(label: t('work_form.panes.title.tab_label'), tab_name: :title, active_tab_name:, mark_required: true) %>
    <% component.with_tab(label: t('work_form.panes.contributors.tab_label'), tab_name: :contributors, active_tab_name:, mark_required: true) %>
    <% component.with_tab(label: t('work_form.panes.abstract.tab_label'), tab_name: :abstract, active_tab_name:, mark_required: true) %>
    <% component.with_tab(label: t('work_form.panes.types.tab_label'), tab_name: :types, active_tab_name:, mark_required: true) %>
    <% component.with_tab(label: t('work_form.panes.doi.tab_label'), tab_name: :doi, active_tab_name:, mark_required: true) %>
    <% component.with_tab(label: t('form.panes.access.tab_label'), tab_name: :access, active_tab_name:, mark_required: true) %>
    <% component.with_tab(label: t('work_form.panes.license.tab_label'), tab_name: :license, active_tab_name:, mark_required: true) %>
    <% component.with_tab(label: t('work_form.panes.related_content.tab_label'), tab_name: :related_content, active_tab_name:) %>
    <% component.with_tab(label: t('work_form.panes.citation.tab_label'), tab_name: :citation, active_tab_name:) %>
    <% component.with_tab(label: t('work_form.panes.deposit.tab_label'), tab_name: :deposit, active_tab_name:, mark_required: true) %>
    <%# The panes below need a form in order to render their contents. This provides a "fake" form to use for that purpose. %>
    <%# TabListComponent will render the actual form. %>
    <% form_with(model: @work_form) do |form| %>
      <% component.with_work_pane(tab_name: :title, label: t('work_form.panes.title.label'), form_id:, discard_draft_form_id:, work_presenter: @work_presenter, active_tab_name:, mark_required: true) do %>
        <%= render Works::Edit::TitleComponent.new(form:, work_form: @work_form) %>
      <% end %>

      <% component.with_work_pane(tab_name: :contributors, label: t('work_form.panes.contributors.label'), help_text: t('work_form.panes.contributors.help_text'), tooltip: t('work_form.panes.contributors.tooltip_html'), form_id:, discard_draft_form_id:, work_presenter: @work_presenter, active_tab_name:, mark_required: true, pane_header_class: nil) do %>
        <%= render Works::Edit::ContributorsComponent.new(form:) %>
      <% end %>

      <% component.with_work_pane(tab_name: :abstract, label: t('work_form.panes.abstract.label'), help_text: t('work_form.panes.abstract.help_text'), form_id:, discard_draft_form_id:, work_presenter: @work_presenter, active_tab_name:, mark_required: true) do %>
        <%= render Works::Edit::AbstractComponent.new(form:) %>
      <% end %>

      <% component.with_work_pane(tab_name: :types, label: t('work_form.panes.types.label'), form_id:, discard_draft_form_id:, work_presenter: @work_presenter, active_tab_name:, mark_required: true) do %>
        <%= render Works::Edit::WorkTypeComponent.new(form:, collection: @collection) %>
      <% end %>

      <% component.with_work_pane(tab_name: :doi, label: t('work_form.panes.doi.label'), form_id:, discard_draft_form_id:, work_presenter: @work_presenter, active_tab_name:, mark_required: true) do |pane_component| %>
        <%= render Works::Edit::DoiComponent.new(form:, collection: @collection) %>

        <% pane_component.with_help do %>
          <%= link_to_new_tab('What is a DOI?', 'https://sdr.library.stanford.edu/documentation/purls-dois-and-orcid-ids', class: 'ms-3') %>
        <% end %>
      <% end %>

      <% component.with_work_pane(tab_name: :access, label: t('work_form.panes.access.label'), form_id:, discard_draft_form_id:, work_presenter: @work_presenter, active_tab_name:, mark_required: true) do %>
        <%= render Works::Edit::AccessSettingsComponent.new(form:, collection: @collection, individual_file_visibility_option: false) %>
      <% end %>

      <% component.with_work_pane(tab_name: :license, label: t('work_form.panes.license.label'), form_id:, discard_draft_form_id:, work_presenter: @work_presenter, active_tab_name:, mark_required: true) do %>
        <%= render Works::Edit::LicenseComponent.new(form:, license_presenter: @license_presenter, tooltip: I18n.t('work_form.fields.license.tooltip_html')) %>
        <% unless @collection.no_custom_rights_statement_option? %>
          <%= render Works::Edit::TermsOfUseComponent.new(form:, collection: @collection) %>
        <% end %>
      <% end %>

      <% component.with_work_pane(tab_name: :related_content, label: t('work_form.panes.related_content.label'), tooltip: t('work_form.panes.related_content.tooltip_html'), form_id:, discard_draft_form_id:, work_presenter: @work_presenter, active_tab_name:, pane_header_class: nil) do %>
        <%= render NestedComponentPresenter.for(form:, field_name: :related_works, model_class: RelatedWorkForm, form_component: RelatedWorks::EditComponent, fieldset_classes: 'pane-section') %>
      <% end %>

      <% component.with_work_pane(tab_name: :citation, label: t('work_form.panes.citation.label'), tooltip: t('work_form.panes.citation.tooltip_html'), form_id:, discard_draft_form_id:, work_presenter: @work_presenter, help_text: t('work_form.panes.citation.help_text'), active_tab_name:) do %>
        <%= render Works::Edit::CitationComponent.new(form:) %>
      <% end %>

      <% component.with_work_pane(tab_name: :deposit, label: t('work_form.panes.deposit.label'), form_id:, discard_draft_form_id:, work_presenter: @work_presenter, active_tab_name:, next_tab_btn: false, mark_required: true) do |pane_component| %>
        <% pane_component.with_help do %>
          <ul class="mb-0">
            <li>Information you provided in this form will be included when releases are archived from GitHub.</li>
            <% if @work_form.agree_to_terms %><li>You have accepted the <a href="#" data-bs-toggle="modal" data-bs-target="#tod-modal">Terms of Deposit</a>.</li><% end %>
          </ul>
        <% end %>

        <%# This is a dummy value that is needed for validation, but won't be used for the version description. %>
        <%= form.hidden_field :whats_changing, value: 'Metadata update' %>

        <%# For subsequent deposits, user can choose whether GitHub deposit is enabled. For initial, it will be enabled by default. %>
        <% if !@work_presenter.github_deposit_never_enabled? %>
          <%= render Elements::Forms::FieldsetComponent.new(
                label: I18n.t('github_repository_work_form.fields.github_deposit_enabled.label'),
                help_text: I18n.t('github_repository_work_form.fields.github_deposit_enabled.help_html'),
                tooltip: I18n.t('github_repository_work_form.fields.github_deposit_enabled.tooltip_html'),
                mark_required: true
              ) do %>
            <div class="row ms-0">
            <div class="form-check col-md-2">
              <%= form.radio_button :github_deposit_enabled, true, class: 'form-check-input' %>
              <%= form.label :github_deposit_enabled_true, 'Yes', class: 'form-check-label' %>
            </div>
            <div class="form-check col-md-2">
              <%= form.radio_button :github_deposit_enabled, false, class: 'form-check-input' %>
              <%= form.label :github_deposit_enabled_false, 'No', class: 'form-check-label' %>
            </div>
            </div>
          <% end %>
        <% end %>
        <%= render Works::Edit::TermsOfDepositComponent.new(form:) %>
        <% pane_component.with_deposit_button do %>
          <% deposit_label = @work_presenter.github_deposit_never_enabled? ? 'Save and begin depositing future releases' : 'Save' %>
          <%= render Works::Edit::SubmitComponent.new(deposit_label:, work: @work, collection: @collection, data: { action: 'unsaved-changes#allowFormSubmission' }) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<%= render template: 'works/form_layout' %>
