<%= render Elements::HeaderComponent.new(level: :h1, text: @work_form.title, classes: 'mb-4 d-inline-block') %>
<span class="ms-4 fst-italic status"><%= @status_presenter.status_message %></span>
<%= render Elements::ButtonLinkComponent.new(link: edit_work_path(@work_form.druid), label: 'Edit or deposit', classes: 'float-end', variant: :'outline-primary') if @status_presenter.editable? %>

<%= turbo_frame_tag @content, src: show_table_content_path(@content) do %>
  <%= render Elements::SpinnerComponent.new %>
<% end %>

<%= render Elements::Tables::TableComponent.new(id: 'title-table', classes: 'table-show mb-5', label: 'Title and contact') do |component| %>
  <% component.with_row(label: 'Title', values: [@work_form.title]) %>
  <% component.with_row(label: 'Contact emails', values: [@work_form.contact_emails_attributes.map(&:email).join(', ')]) %>
<% end %>

<%= render Elements::Tables::TableComponent.new(id: 'dates-table', classes: 'table-show mb-5', label: 'Dates') do |component| %>
  <% component.with_row(label: 'Publication date', values: [@work_form.publication_date.to_s]) %>
<% end %>

<%= render Elements::Tables::TableComponent.new(id: 'description-table', classes: 'table-show mb-5', label: 'Abstract and keywords') do |component| %>
  <% component.with_row(label: 'Abstract', values: [@work_form.abstract]) %>
  <% component.with_row(label: 'Keywords', values: [@work_form.keywords_attributes.map(&:text).join(', ')]) %>
<% end %>

<%= render Elements::Tables::TableComponent.new(id: 'related-content-table', classes: 'table-show mb-5', label: 'Related content') do |component| %>
  <% component.with_row(label: 'Related published work', values: @work_form.related_works_attributes.map(&:to_s)) %>
  <% component.with_row(label: 'Related links', values: @work_form.related_links_attributes.map { |related_link| link_to(related_link.text || related_link.url, related_link.url) }) %>
<% end %>

<%= render Elements::Tables::TableComponent.new(id: 'license-table', classes: 'table-show mb-5', label: 'License and additional terms of use') do |component| %>
  <% component.with_row(label: 'License', values: [@work_form.license_label]) %>
  <% component.with_row(label: 'Terms of use', values: [t('works.edit.fields.license.terms_of_use')]) %>
<% end %>
