<%= tag.fieldset class: classes, data:, id:, aria: do %>
  <%= tag.legend class: legend_classes do %>
    <% if legend? %>
      <%= legend %>
    <% else %>
      <%= tag.label class: label_classes do %><%= label %><% end %>
      <% if required %><span class="required-indicator" aria-label="Required">*</span><% end %>
    <% end %>
    <%= render Elements::TooltipComponent.new(tooltip:) %>
    <%= help_link if help_link? %>
  <% end %>
  <%= content %>
<% end %>
