<fieldset class="my-3" data-controller="nested-form" data-nested-form-selector-value=".row">
  <legend class="h5">
    <%= render Elements::Forms::LabelComponent.new(form:, field_name:, label_text:, hidden_label:) %>
  </legend>
  <%= tag.div(class: container_classes, data: { nested_form_target: 'container' }) do %>
    <template data-nested-form-target="template">
      <%= form.fields_for field_name, model_class.new, child_index: 'NEW_RECORD' do |nested_form| %>
        <%# Note that this div is duplicated below. If making a change here, also make the change below. %>
        <%= tag.div(class: row_classes, data: { index: nested_form.options[:child_index], nested_form_target: 'instance' }) do %>
          <div class="col">
            <%= render form_component.new(form: nested_form) %>
          </div>
          <div class="col-md-auto">
            <%= render Elements::DeleteButtonComponent.new(classes: 'float-end', data: { action: 'click->nested-form#delete' }) %>
          </div>
        <% end %>
      <% end %>
    </template>
    <%= form.fields_for field_name do |nested_form| %>
      <%# Note that this div is duplicated above. If making a change here, also make the change above. %>
      <%= tag.div(class: row_classes, data: { index: nested_form.options[:child_index], nested_form_target: 'instance' }) do %>
        <div class="col">
          <%= render form_component.new(form: nested_form) %>
        </div>
        <div class="col-md-auto">
          <%= render Elements::DeleteButtonComponent.new(classes: 'float-end', data: { action: 'click->nested-form#delete' }) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <%= render Elements::ButtonComponent.new(label: add_button_label, variant: :'outline-primary', classes: add_button_classes, data: { action: 'click->nested-form#add' }) %>
</fieldset>
