<%= render Elements::Forms::FieldsetComponent.new(data: fieldset_data, classes: fieldset_classes, id: fieldset_id) do |component| %>
  <% component.with_legend do %>
    <h3 class="tooltip-header">
      <%= render Edit::LabelComponent.new(label_text:, hidden_label:) %>
      <%= render Elements::TooltipComponent.new(tooltip:) %>
    </h3>
  <% end %>
  <%= before_section %>
  <%= tag.div(class: container_classes, data: { nested_form_target: 'container', nested_form_reorder_target: 'container' }) do %>
    <template data-nested-form-target="template">
      <%= form.fields_for field_name, model_class.new, child_index: 'NEW_RECORD' do |nested_form| %>
        <%# Note that this div is duplicated below. If making a change here, also make the change below. %>
        <%= tag.div(class: row_classes, data: { index: nested_form.options[:child_index], nested_form_target: 'instance', nested_form_reorder_target: 'instance' }) do %>
          <div class="col">
            <%= render form_component.new(form: nested_form) %>
          </div>
          <%= tag.div(class: nested_buttons_classes) do %>
            <%= render Elements::DeleteButtonComponent.new(data: { action: 'click->nested-form#delete' }) %>
            <% if reorderable? %>
              <%= render Elements::MoveUpButtonComponent.new(classes: 'd-none', data: { action: 'click->nested-form-reorder#moveUp' }) %>
              <%= render Elements::MoveDownButtonComponent.new(classes: 'd-none', data: { action: 'click->nested-form-reorder#moveDown' }) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </template>
    <%= form.fields_for field_name do |nested_form| %>
      <%# Note that this div is duplicated above. If making a change here, also make the change above. %>
      <%= tag.div(class: row_classes, data: { index: nested_form.options[:child_index], nested_form_target: 'instance', nested_form_reorder_target: 'instance' }) do %>
        <div class="col">
          <%= render form_component.new(form: nested_form) %>
        </div>
        <%= tag.div(class: nested_buttons_classes) do %>
          <%= render Elements::DeleteButtonComponent.new(data: { action: 'click->nested-form#delete' }) %>
          <% if reorderable? %>
            <%= render Elements::MoveUpButtonComponent.new(classes: 'd-none', data: { action: 'click->nested-form-reorder#moveUp' }) %>
            <%= render Elements::MoveDownButtonComponent.new(classes: 'd-none', data: { action: 'click->nested-form-reorder#moveDown' }) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%= render Elements::ButtonComponent.new(label: add_button_label, variant: :'outline-primary', classes: add_button_classes, data: { action: 'click->nested-form#add' }) unless hide_add_button? %>
<% end %>
