<%= tag.div class: container_classes, data: do %>
  <div class="d-flex"> <%# Aligns label and tooltip %>
    <%= render Elements::Forms::LabelComponent.new(form:, field_name:, label_text: label, classes: label_classes, hidden_label:, tooltip:) %>
  </div>
  <div class="btn-group btn-group-toggle" role="group">
    <%= left_toggle_option %>
    <%= right_toggle_option %>
  </div>
  <%= render Elements::Forms::InvalidFeedbackComponent.new(form:, field_name:) %>
<% end %>
