<% content_for :breadcrumbs do %>
  <%= render Elements::BreadcrumbNavComponent.new do |component| %>
    <% component.with_breadcrumb(text: 'Dashboard', link: dashboard_path) %>
    <% component.with_breadcrumb(text: 'GitHub integration') %>
  <% end %>
<% end %>

<% if current_user.connected_to_github? %>
  <%= render Elements::HeadingComponent.new(level: :h1, text: 'Your GitHub account is connected', classes: 'h2 mb-4') %>

  <p>
    In set up automatic deposits of a GitHub repository, return to the dashboard and find the "Select a repository" button
    for the collection where you would to make the deposits.
  </p>

  <div class="d-flex my-5">
    <%= render Elements::CancelButtonComponent.new(link: request.referer || dashboard_path, classes: 'me-2') %>
    <%= render Elements::ButtonFormComponent.new(link: '#replace-me', label: 'Disconnect GitHub', variant: 'outline-secondary') %>
  </div>
<% else %>
  <%= render Elements::HeadingComponent.new(level: :h1, text: 'Connect your SDR account to GitHub', classes: 'h2 mb-4') %>

  <p>
    You can connect your GitHub account to the Stanford Digital Repository (SDR). Once your account is connected, you will be able
    to select GitHub repositories for SDR deposit. Each time you create a new release of that repository in GitHub, it will
    automatically be deposited in the SDR.
  </p>

  <div class="d-flex my-5">
    <%= render Elements::CancelButtonComponent.new(link: request.referer || dashboard_path, classes: 'me-2') %>
    <%= render Elements::ButtonFormComponent.new(link: '/auth/github', label: current_user.previously_connected_to_github? ? 'Reconnect to GitHub' : 'Connect to GitHub', data: { turbo: false }, method: :post, top: false) %>
  </div>
<% end %>
