<div class="pane-section">
  <%= render Edit::LabelComponent.new(label_text: 'Release date') %>
  <% if immediate_release_option? %>
    <p>Your files with be available shortly after you deposit this item.</p>
    <%= form.hidden_field :release_option, value: :immediate %>
  <% else %>
    <p>
      Select when the files in your deposit will be downloadable from the PURL page.
      If you select "Immediately", your files will be available shortly after you
      deposit this item. Or you may specify a specific date in the future.
    </p>

    <div class="row">
      <div class="col-md-4 form-check pt-2">
        <div class="ps-2">
          <%= form.radio_button :release_option, 'immediate', class: 'form-check-input' %>
          <%= form.label :release_option_immediate, 'Immediately', class: 'form-check-label' %>
        </div>
      </div>

      <div class="col-md-8 form-check d-flex">
        <div class="pt-2">
          <%= form.radio_button :release_option, 'delay', class: 'form-check-input' %>
          <%= form.label :release_option_delay, 'On this date', class: 'form-check-label' %>
        </div>
        <%= render Elements::Forms::DatepickerComponent.new(form:, field_name: :release_date, min: min_release_date, max: max_release_date, help_text: datepicker_help_text, label: 'Release date', hidden_label: true, container_classes: 'ms-2') %>
      </div>
    </div>
  <% end %>
</div>

<div class="pane-section">
  <%= render Edit::LabelComponent.new(label_text: 'Individual file visibility') %>
  <p>
    You can prevent individual files from being displayed on the PURL page,
    meaning viewers of the page can neither see or download the files. All files
    are still preserved in the SDR, whether they are visible or not. If a file was
    available to viewers on a previous version of this work, it will continue to
    be available on the pages for the older versions.
  </p>
  <p>
    To prevent displaying a specific file, return to <a href="#files-tab" data-controller="tab-link" data-action="tab-link#show">Manage files</a> and select "Hide" to the right of the file name.
  </p>
</div>

<div class="pane-section">
  <%= render Edit::LabelComponent.new(label_text: 'Download access') %>
  <% if depositor_selects_access? %>
    <%= render Elements::Forms::SelectFieldComponent.new(form:, field_name: :access, options: access_options, width: 250, label: 'Who can download the files?') %>
  <% else %>
    <p>
      <%= collection_selects_access_message %>
    </p>
    <%= form.hidden_field :access %>
  <% end %>
</div>
