<%# turbo-frame and tables don't mix well: https://github.com/hotwired/turbo/issues/48 %>
<%= tag.turbo_frame id: dom_id(content_file, 'description') do %>
  <% if content_file.label.present? %>
    <div class="d-flex align-items-center justify-content-between">
      <span><%= content_file.label %></span>
      <%= render SdrViewComponents::Elements::ButtonLinkComponent.new(link: edit_content_file_path(content_file), variant: :'outline-primary', bordered: false, classes: 'me-3 py-0') do %>
        <%= helpers.edit_icon %><span class="visually-hidden">Edit this file</span>
      <% end %>
    </div>
  <% else %>
    <%= render SdrViewComponents::Elements::ButtonLinkComponent.new(link: edit_content_file_path(content_file), variant: :link, label: 'Add description', classes: 'p-0') %>
  <% end %>
<% end %>
