  <div class="row pane-section">
    <div class="col-lg-5">
      <%= render NestedComponentPresenter.for(form:, field_name: :publication_date, model_class: DateForm, form_component: Works::Edit::DateInputComponent) %>
    </div>
  </div>

<%= render Elements::Forms::FieldsetComponent.new(label: 'Creation date', classes: 'pane-section', data: { controller: 'dates' }, id: 'creation_date') do %>
  <%= render Elements::Forms::ToggleComponent.new(form:, field_name: :create_date_type, hidden_label: true,
                                                  label: 'Creation date') do |component| %>
    <% component.with_left_toggle_option(form:,
                                         field_name: :create_date_type,
                                         label: 'Singe date',
                                         value: 'single',
                                         data: { action: 'click->dates#selectSingle', dates_target: 'singleDateRadio' }) %>
    <% component.with_right_toggle_option(form:,
                                          field_name: :create_date_type,
                                          label: 'Date range',
                                          value: 'range',
                                          data: { action: 'click->dates#selectRange' }) %>
  <% end %>
    <div class="row" data-dates-target="singleDateContainer">
      <div class="col-lg-5">
        <%= render NestedComponentPresenter.for(form:, field_name: :create_date_single, model_class: DateForm, form_component: Works::Edit::DateInputComponent, hidden_label: true, with_approximate: true) %>
      </div>
    </div>

    <div class="row" data-dates-target="rangeDateContainer">
      <div class="col-lg-5">
        <%= render NestedComponentPresenter.for(form:, field_name: :create_date_range_from, model_class: DateForm, form_component: Works::Edit::DateInputComponent, hidden_label: true, with_approximate: true, with_reset: false, reset_class: 'work-create_date_range') %>
      </div>
      <div class="col-lg-1 d-flex align-items-start">
        <p class="mt-lg-4 pt-lg-2">to</p>
      </div>
      <div class="col-lg-5">
        <%= render NestedComponentPresenter.for(form:, field_name: :create_date_range_to, model_class: DateForm, form_component: Works::Edit::DateInputComponent, hidden_label: true, with_approximate: true, reset_class: 'work-create_date_range') %>
      </div>
    </div>
    <% if create_date_range_from_error? %>
      <%# Invalid feedback needs to be a sibling of .is-invalid %>
      <div class="is-invalid">
      <%= render Elements::Forms::InvalidFeedbackComponent.new(form:, field_name: :create_date_range_from) %>
    <% end %>
<% end %>
