<%= tag.div data: { controller: 'form-date', form_date_tab_error_outlet: '.tab-error' }, class: reset_class  do %>
  <div class="row">
    <div class="col-3">
      <%= render Elements::Forms::TextFieldComponent.new(form:,
                                                         field_name: :year,
                                                         label: helpers.t('date.fields.year.label'),
                                                         input_data: { form_date_target: 'year', action: 'form-date#update' },
                                                         container_classes: 'mb-2',
                                                         error_classes: 'text-nowrap',
                                                         width: 85) %>
    </div>
    <div class="col-5">
      <%= render Elements::Forms::SelectMonthFieldComponent.new(form:, field_name: :month, label: helpers.t('date.fields.month.label'),
                                                                input_data: { form_date_target: 'month', action: 'form-date#update' }) %>
    </div>
    <div class="col-3">
      <%= render Elements::Forms::SelectDayFieldComponent.new(form:, field_name: :day, label: helpers.t('date.fields.day.label'),
                                                              input_data: { form_date_target: 'day', action: 'form-date#update' }) %>
    </div>
    <% if with_reset? %>
      <%= tag.div class: 'col-1 d-flex align-items-stretch mt-3', data: { controller: 'form-date-reset', form_date_reset_form_date_outlet: ".#{reset_class}" } do %>
        <%= render Elements::DeleteButtonComponent.new(data: { action: 'form-date-reset#reset' }) %>
      <% end %>
    <% end %>
  </div>
  <% if with_approximate? %>
    <div class="row">
      <div class="col">
        <%= render SdrViewComponents::Forms::CheckboxComponent.new(form:, field_name: :approximate, label_text: helpers.t('date.fields.approximate.label'),
                                                                   data: { form_date_target: 'approximate', action: 'form-date#update' }) %>
      </div>
    </div>
  <% end %>
<% end %>
