<div class="mb-3">
  <div class="card card-body">
    <p>Click a link to open the Globus File Manager.</p>
    <ul class="list-unstyled">
      <li><%= helpers.link_to_new_tab('Upload from my computer', local_url) %></li>
      <li><%= helpers.link_to_new_tab('Stanford Google Drive', stanford_gdrive_url) %></li>
      <li><%= helpers.link_to_new_tab('Sherlock', sherlock_url) %></li>
      <li><%= helpers.link_to_new_tab('Oak', oak_url) %></li>
    </ul>
  </div>
</div>
After you have completed uploading file with the Globus File Manager:
<%= render Elements::ButtonFormComponent.new(label: 'I am done uploading to Globus',
                                             link: done_uploading_content_globuses_path(content_obj),
                                             data: { action: 'dropzone-files#enableDropzone' },
                                             method: :post, top: false) %>
<%= render Elements::ButtonLinkComponent.new(link: new_content_globus_path(content_obj), label: 'Cancel',
                                             data: { action: 'dropzone-files#enableDropzone' }) %>
