<div class="mb-3 my-3">
  <div class="card card-body">
    <p>
      Click the link where your files are located, and you will be taken to Globus to transfer your files from that location.
      <%= link_to 'Instructions to set up Globus', Settings.globus.instructions_url, target: '_blank' %> (may require software installation).
    </p>
    <ul class="list-unstyled">
      <li><%= helpers.link_to_new_tab('Your computer', local_url) %></li>
      <li><%= helpers.link_to_new_tab('Google Drive', stanford_gdrive_url) %></li>
      <li><%= helpers.link_to_new_tab('Sherlock', sherlock_url) %></li>
      <li><%= helpers.link_to_new_tab('Oak', oak_url) %></li>
      <li><%= helpers.link_to_new_tab('Microsoft OneDrive', onedrive_url) %></li>
    </ul>
    <p>Once you have transferred your files, and received an email from Globus stating all files were successfully transferred, click the “Globus file transfer complete” button.</p>

    <div class="d-flex flex-row">
      <div class="p-2">
        <%= render Elements::ButtonFormComponent.new(label: 'Globus file transfer complete',
                                                     link: done_uploading_content_globuses_path(content_obj),
                                                     data: { action: 'dropzone-files#enableDropzone' },
                                                     method: :post, top: false) %>
      </div>
      <div class="p-2">
        <%= render Elements::ButtonLinkComponent.new(link: new_content_globus_path(content_obj), label: 'Cancel',
                                                     data: { action: 'dropzone-files#enableDropzone' },
                                                     variant: :'outline-primary') %>
      </div>
    </div>
  </div>
</div>
