<div class="pane-section">
  <div class="d-flex">
    <%= render Edit::LabelComponent.new(label_text: 'License') %>
    <%= render Elements::TooltipComponent.new(tooltip:) %>
    <% unless required_license_option? %>
      <div class="ms-4"><%= helpers.link_to_new_tab 'Get help selecting a license', Settings.license_url %></div>
    <% end %>
  </div>
  <% if required_license_option? %>
    <p>The license for this deposit is <%= license_label %></p>
    <%= form.hidden_field :license %>
  <% else %>
    <%= render Elements::Forms::SelectFieldComponent.new(form:, field_name:, options: license_options, label:, help_text:, width: 500, container_classes: 'mb-4', hidden_label: true) %>
  <% end %>

  <p class="mt-4"><%= helpers.t('license.edit.license_terms_of_use') %></p>
  <p class="fst-italic"><%= helpers.t('license.terms_of_use') %></p>
</div>
