<%= render Edit::TabForm::PaneComponent.new(**pane_args) do |component| %>
  <%= content %>
  <% component.with_help do %>
    <%= help if help? %>
  <% end %>
  <% component.with_footer do %>
    <div class="d-flex justify-content-between">
      <div>
        <%= render Elements::CancelButtonComponent.new(link: dashboard_path) %>
        <%= render Edit::TabForm::PreviousButtonComponent.new(tab_id:, classes: 'ms-2') if previous_tab_btn? %>
        <%= render Edit::TabForm::NextButtonComponent.new(tab_id:, classes: 'ms-2') if next_tab_btn? %>
        <%= deposit_button %>
      </div>
      <div>
        <%= render Elements::Forms::SubmitComponent.new(form_id:, label: 'Save as draft', variant: :'outline-primary', classes: 'me-2') %>
        <%= render Edit::DiscardDraftSubmitButtonComponent.new(presenter: work_presenter, form_id: discard_draft_form_id) %>
      </div>
    </div>
  <% end %>
<% end %>
