<%= render Edit::TabForm::PaneComponent.new(**pane_args) do |component| %>
  <%= content %>
  <% component.with_help do %>
    <%= help if help? %>
  <% end %>
  <% component.with_footer do %>
    <div class="d-flex justify-content-between">
      <div>
        <%= render Elements::Forms::SubmitComponent.new(form_id:, label: 'Save as draft', variant: :'outline-primary', classes: 'me-2') %>
        <% if deposit_button? %>
          <%= deposit_button %>
        <% else %>
          <%= render Edit::TabForm::NextButtonComponent.new(tab_id:) %>
        <% end %>
      </div>
      <div>
        <% if work_presenter&.discardable? %>
          <%= render Edit::DiscardDraftSubmitButtonComponent.new(presenter: work_presenter, form_id: discard_draft_form_id) %>
        <% else %>
          <%= render Elements::CancelButtonComponent.new(link: dashboard_path) %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
