<%= tag.section class: 'd-flex align-items-center', 'aria-label': aria_label do %>
  <span class="participant-label" style="width: 350px;"><%= value %></span>
  <%= form.hidden_field :sunetid %>
  <%= form.hidden_field :name %>
  <%= render Elements::Forms::SelectFieldComponent.new(form:, field_name: :permission, options:, label: 'Share permission', hidden_label: true, container_classes: 'my-2') %>
<% end %>
