<div class="pane-section">
  <% if provided_custom_rights_statement_option? %>
    <%= render Edit::LabelComponent.new(label_text: label) %>
    <%= render Elements::TooltipComponent.new(tooltip:) %>
    <p><%= provided_custom_rights_statement %></p>
    <%= form.hidden_field :custom_rights_statement, value: provided_custom_rights_statement %>
  <% else %>
    <%= render Elements::Forms::TextareaFieldComponent.new(form:, field_name: :custom_rights_statement, help_text: custom_rights_statement_instructions, label: "#{label} (optional)", tooltip:, label_classes: 'fw-bold') %>
  <% end %>
</div>
