<div data-controller="work-type">
  <div class="pane-section">
    <%= render Elements::Forms::FieldsetComponent.new(label: t('works.edit.fields.work_type.label'), tooltip: t('works.edit.fields.work_type.tooltip_html')) do %>
      <% if readonly? %>
        <p>The collection manager has selected "<%= work_type %>" as the type for all deposits.</p>
        <%= form.hidden_field :work_type, data: { work_type_target: 'workTypeHidden' } %>
      <% else %>
        <div class="types-container">
          <%= render Elements::Forms::InputCollectionRadioButtonsComponent.new(form:, field_name: :work_type, input_collection: WorkType.all, input_data: { work_type_target: 'workTypeRadio', action: 'work-type#showSubtypes click->tooltips#hideAll' }) %>
        </div>
      <% end %>
    <% end %>
  </div>

  <%# Text subtypes %>
  <%= render Works::Edit::WorkSubtypesComponent.new(form:, work_type: 'Text', more_options: true, label:, tooltip:, required_subtypes:) %>

  <%# Data subtypes %>
  <%= render Works::Edit::WorkSubtypesComponent.new(form:, work_type: 'Data', more_options: true, label:, tooltip:, required_subtypes:) %>

  <%# Software, multimedia subtypes %>
  <%= render Works::Edit::WorkSubtypesComponent.new(form:, work_type: 'Software/Code', more_options: true, label:, tooltip:, required_subtypes:) %>

  <%# Image %>
  <%= render Works::Edit::WorkSubtypesComponent.new(form:, work_type: 'Image', more_options: true, label:, tooltip:, required_subtypes:) %>

  <%# Sound %>
  <%= render Works::Edit::WorkSubtypesComponent.new(form:, work_type: 'Sound', more_options: true, label:, tooltip:, required_subtypes:) %>

  <%# Video %>
  <%= render Works::Edit::WorkSubtypesComponent.new(form:, work_type: 'Video', more_options: true, label:, tooltip:, required_subtypes:) %>

  <%# Music %>
  <%= render Works::Edit::WorkSubtypesComponent.new(form:, work_type: 'Music', more_options: true, label:, tooltip:, required_subtypes:,
                                                    minimum_terms: WorkType::MINIMUM_REQUIRED_MUSIC_SUBTYPES, error_field_name: :work_subtypes_music) %>

  <%# Mixed materials %>
  <%= render Works::Edit::WorkSubtypesComponent.new(form:, work_type: 'Mixed Materials', label:, tooltip:, required_subtypes:,
                                                    minimum_terms: WorkType::MINIMUM_REQUIRED_MIXED_MATERIAL_SUBTYPES, error_field_name: :work_subtypes_mixed_materials) %>

  <%# Other %>
  <%= render Works::Edit::WorkSubtypesComponent.new(form:, work_type: 'Other', label:, tooltip:) do %>
    <%= render Elements::Forms::TextFieldComponent.new(form:, field_name: :other_work_subtype, label: 'Specify "Other" type*') %>
  <% end %>

  <% required_subtypes.each do |subtype| %>
    <%= form.hidden_field :work_subtypes, value: subtype, multiple: true %>
  <% end %>

  <%# For bottom spacing %>
  <div class="pane-section"></div>

</div>
