<%= tag.div class: classes, 'data-controller': 'tab-error' do %>
  <div class="col-md-3">
    <%= tag.div class: 'nav nav-pills d-flex flex-md-column px-2 py-1', role: 'tablist', 'aria-orientation': 'vertical' do |component| %>
      <% tabs.each do |tab| %>
        <%= tab %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-9">
    <%= form_with(model:) do |form| %>
      <% hidden_fields.each do |field| %>
        <%= form.hidden_field field %>
      <% end %>
      <div class="tab-content h-100">
        <% panes.each do |pane| %>
          <%= pane %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
