<%= tag.div class: classes, 'data-controller': 'tab-error' do %>
  <%= tag.div class: tab_classes, role: 'tablist', 'aria-orientation': 'vertical', style: 'height: 650px;' do |component| %>
    <% tabs.each do |tab| %>
      <%= tab %>
    <% end %>
  <% end %>
  <div class="w-100" style="max-width: 700px;">
    <%= form_with(model:) do |form| %>
      <% hidden_fields.each do |field| %>
        <%= form.hidden_field field %>
      <% end %>
      <div class="tab-content h-100">
        <% panes.each do |pane| %>
          <%= pane %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
