<%= render Elements::HorizontalRuleComponent.new %>

<%= render Elements::HeadingComponent.new(level: :h1, text: "#{user.name} (#{user.sunetid})", classes: 'h2 mb-4') %>

<div class="mb-5">
  <%= render Admin::CollectionsListComponent.new(id: 'collection-access-table', label: 'Collections this user can access', user:, collections: user.your_collections) %>
</div>

<div class="mb-5">
  <%= render Admin::CollectionsListComponent.new(id: 'collection-owned-table', label: 'Collections created by user', user:, collections: user.collections) %>
</div>

<div class="mb-5">
  <%= render Admin::WorksListComponent.new(id: 'work-owned-table', label: 'Works owned by user', works: user.works, status_map:) %>
</div>
