<%= turbo_frame_tag 'user-search' do %>
  <%= form_with model: @user_search_form, url: search_admin_users_search_path, method: :get do |form| %>
    <div class="row align-items-start">
      <%= render Elements::Forms::LabelComponent.new(form:, field_name: :sunetid, label_text: 'Search for user by SUNet', classes: 'col-md-2') %>
      <div class="col-md-6">
        <%= form.text_field :sunetid, class: 'form-control', aria: Elements::Forms::InvalidFeedbackSupport.arias_for(form:, field_name: :sunetid) %>
        <%= render Elements::Forms::InvalidFeedbackComponent.new(form:, field_name: :sunetid) %>
      </div>
      <%= render SdrViewComponents::Forms::SubmitComponent.new(label: 'Search', classes: 'col-md-1') %>
    </div>
  <% end %>
  <%= render partial: 'show', locals: { user: @user, status_map: @status_map } if @user.present? %>
<% end %>
