<% content_for :fluid_body do %>
  <%= tag.div class: 'hero position-relative p-5', style: "background-image: url(#{image_path(@hero_image_presenter.image)});" do %>
    <div class="row align-items-center justify-content-center h-100 gy-2" role="list">
      <div class="col" role="listitem" style="max-width: 850px;">
        <%= render SdrViewComponents::Elements::CardComponent.new(classes: 'mx-4 mx-md-2 opaque') do |component| %>
          <% component.with_body do %>
            <div class="row align-items-center justify-content-center" role="list">
              <div class="col-md-5 col-sm-12" role="listitem">
                <%= render SdrViewComponents::Elements::CardComponent.new(classes: 'text-center mx-4 mx-md-2 bg-white shadow borderless') do |component| %>
                  <% component.with_body do %>
                    <div class="mb-2">
                      <%= upload_icon(fill: false, classes: 'icon-xl') %>
                    </div>
                    <h1 class="card-text mb-3">Create or manage your deposits</h1>
                    <%= render SdrViewComponents::Elements::ButtonLinkComponent.new(link: dashboard_path, label: 'Enter here', variant: 'primary', size: 'lg') %>
                    <p class="mt-2">including capstones and thesis</p>
                  <% end %>
                <% end %>
              </div>
              <div class="col-md-7 col-sm-12" role="listitem">
                <div class="row justify-content-start" role="list">
                  <div class="col" role="listitem">
                    <div class="d-flex align-items-center">
                      <div style="color: #D1660F;">
                        <%= bulb_icon(classes: 'icon-lg') %>
                      </div>
                      <%= render SdrViewComponents::Elements::CardComponent.new(classes: 'borderless align-items-start bg-transparent') do |component| %>
                        <% component.with_body do %>
                          <p class="card-text">
                            <%= t('banner.home_html') %>
                          </p>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <%= render SdrViewComponents::Elements::HorizontalRuleComponent.new(classes: 'tapered-hr my-2') %>
                    </div>
                  </div>
                  <div class="row justify-content-start" role="list">
                    <div class="col" role="listitem">
                      <div class="d-flex align-items-center">
                        <div>
                          <%= info_icon(fill: false, classes: 'icon-lg') %>
                        </div>
                        <%= render SdrViewComponents::Elements::CardComponent.new(classes: 'borderless align-items-start mx-4 mx-md-2 bg-transparent') do |component| %>
                          <% component.with_body do %>
                            <p class="card-text">
                              <a href="">Learn more</a> about how the Stanford Digital Repository supports long term preservation of scholarly works
                            </p>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="position-absolute bottom-0 start-0 text-white bg-black p-3 mb-3 opacity-75"><%= @hero_image_presenter.credit %></div>
  <% end %>

  <div class="search-bar p-4">
    <form action="https://searchworks.stanford.edu/" method="get" target="_blank">
      <div class="row justify-content-center align-items-center">
        <div class="col-2 d-flex justify-content-end">
          <label for="search" class="fw-bold">Find SDR items in SearchWorks</label>
        </div>
        <div class="col-6">
          <input type="hidden" name="f[building_facet][]" value="Stanford Digital Repository">
          <div class="input-group">
            <input name="q" type="text" id="search" class="form-control" placeholder="Search..." autocomplete="off">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="row mt-5 gy-2 justify-content-center">
    <div class="col col-sm-12 w-50">
      <div class="d-flex align-items-center ">
        <div class="m-3">
          <%= image_tag 'home_news.jpg', height: 54, width: 185, alt: 'News' %>
        </div>
        <div class="m-3">
          <p>
            Sign up for our newsletter to stay<br> informed about SDR and related services.
          </p>
        </div>
        <div class="flex-grow-1 m-3">
          <%= tag.form action: Settings.newsletter_url, method: 'post', data: { turbo: false },
                       id: 'mc-embedded-subscribe-form', name: 'mc-embedded-subscribe-form', class: 'validate', target: '_blank', novalidate: true do %>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input type="text" name="b_139e1b2d3df8f8cacd77c8160_4f4148a871" tabindex="-1" autocomplete="off" value="" aria-label="hidden">
            </div>
            <label for="mce-EMAIL" class="visually-hidden">Sign up for our newsletter</label>
            <div class="input-group">
              <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" autocomplete="email" placeholder="Enter your email address" required>
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <h1 class="h2 text-center mt-5">What Stanford researchers say about SDR</h1>

  <div class="row mt-3 justify-content-center gy-2" role="list">
    <div class="col-md-4 col-sm-12" role="listitem">
      <%= render Home::QuoteCardComponent.new do %>
        "I have recently shared with the whole lab the good experience we had publishing this dataset - and very likely more deposits may follow."
      <% end %>
    </div>

    <div class="col-md-4 col-sm-12" role="listitem">
      <%= render Home::QuoteCardComponent.new do %>
        "SDR is a gem (and the new interface is fabulous). Many thanks for all your work on this and for your support!"
      <% end %>
    </div>
  </div>

  <div class="row mt-2 justify-content-center gy-2" role="list">
    <div class="col-md-3 col-sm-12" role="listitem">
      <%= render Home::QuoteCardComponent.new do %>
        "This dataset is really important for my research, and having it online gives credibility to the work we are accomplishing."
      <% end %>
    </div>

    <div class="col-md-3 col-sm-12" role="listitem">
      <%= render Home::QuoteCardComponent.new do %>
        "Making deposits into the repository has been very convenient and helpful to our research and teaching here at Stanford."
      <% end %>
    </div>

    <div class="col-md-3 col-sm-12" role="listitem">
      <%= render Home::QuoteCardComponent.new do %>
        "Congratulations to your SDR team for such a well-designed and intuitive-to-use deposit interface. It is a joy to work with!"
      <% end %>
    </div>
  </div>

  <div class="row mt-2 justify-content-center gy-2 mb-5" role="list">
    <div class="col-md-3 col-sm-12" role="listitem">
      <%= render Home::QuoteCardComponent.new do %>
        "I am definitely hearing more and more appreciation for the flexibility of SDR from my faculty colleagues who are racing to keep up with data sharing mandates from journals and funders. Way to be ahead of the curve!"
      <% end %>
    </div>

    <div class="col-md-3 col-sm-12" role="listitem">
      <%= render Home::QuoteCardComponent.new do %>
        "I have recommended SDR to other folks, including those running capstone options. Overall, I have been really happy with this service! Your support over the years has been very appreciated!"
      <% end %>
    </div>
  </div>
  <% end %>
