<%= turbo_frame_tag 'extract-abstract' do %>
  <div data-controller="abstract">
    <div data-abstract-target="formSection">
      <div class="d-flex align-items-center flex-wrap">
        <%= render SdrViewComponents::Elements::ButtonFormComponent.new(label: I18n.t('article_form.buttons.extract_abstracts.label'), classes: 'me-4',
                                                                        variant: 'outline-primary', method: :post, link: abstracts_path(content_id: @content_id, doi: @doi), top: false,
                                                                        data: { action: 'submit->abstract#showSpinner' }) %>
                                                                        <%= link_to_new_tab('How does this work?', 'https://sdr.library.stanford.edu/documentation/articles-workflow') %>
        <p class="w-100 mt-2">
          <%= I18n.t('article_form.buttons.extract_abstracts.note') %>
        </p>
      </div>
      <% if @error.present? %>
        <div class="invalid-feedback is-invalid d-block">
          <%= @error %>
        </div>
      <% end %>
    </div>
    <div data-abstract-target="spinner" class="d-none">
      <p class="magic-blue"><%= magic_icon(classes: 'me-2') %><%= t('article_form.messages.extract_abstract_complete') %></p>
      <%= render SdrViewComponents::Elements::SpinnerComponent.new(message: 'Extracting abstract...') %>
    </div>
  </div>
<% end %>
