<p>* Required fields</p>

<%= form_with model: contact_form, url: contacts_path(modal:, welcome:), data: { controller: 'contact' } do |form| %>

  <%= render Elements::Forms::TextFieldComponent.new(form:, field_name: :name,
                                                     label: 'What is your name?', container_classes: 'mb-3') %>

  <%= render Elements::Forms::EmailFieldComponent.new(form:, field_name: :email_address,
                                                      label: 'What is your email address? *', container_classes: 'mb-3', required: true) %>

  <%= render Elements::Forms::TextFieldComponent.new(form:, field_name: :affiliation,
                                                     label: 'What is your Stanford affiliation? (e.g., student, staff, faculty, etc.) *',
                                                     container_classes: 'mb-3', required: true) %>

  <%= render Elements::Forms::SelectFieldComponent.new(form:, field_name: :help_how,
                                                       input_data: { 'contact-target': 'helpHow' },
                                                       label: 'How can we help you? *', options: ContactForm::HELP_HOW_CHOICES,
                                                       container_classes: 'mb-3', required: true,
                                                       data: { action: 'change->contact#toggleCollectionCheckboxes' }) %>

  <div class="mb-3 d-none" data-contact-target="collectionSection">
    <%= render SdrViewComponents::Forms::CheckboxComponent.new(form:, field_name: :faculty_student_staff_collection,
                                                               label_text: t('contact_form.collections.faculty_student_staff_collection.label'), tooltip: t('contact_form.collections.faculty_student_staff_collection.tooltip_html')) %>
    <%= render SdrViewComponents::Forms::CheckboxComponent.new(form:, field_name: :research_data_collection,
                                                               label_text: t('contact_form.collections.research_data_collection.label'), tooltip: t('contact_form.collections.research_data_collection.tooltip_html')) %>
    <%= render SdrViewComponents::Forms::CheckboxComponent.new(form:, field_name: :theses_collection,
                                                               label_text: t('contact_form.collections.theses_collection.label'), tooltip: t('contact_form.collections.theses_collection.tooltip_html')) %>
    <%= render SdrViewComponents::Forms::CheckboxComponent.new(form:, field_name: :library_staff_collection,
                                                               label_text: t('contact_form.collections.library_staff_collection.label'), tooltip: t('contact_form.collections.library_staff_collection.tooltip_html')) %>
    <%= render SdrViewComponents::Forms::CheckboxComponent.new(form:, field_name: :open_access_collection,
                                                               label_text: t('contact_form.collections.open_access_collection.label'), tooltip: t('contact_form.collections.open_access_collection.tooltip_html')) %>
    <%= render SdrViewComponents::Forms::CheckboxComponent.new(form:, field_name: :need_marc_record,
                                                               label_text: t('contact_form.collections.need_marc_record.label'),
                                                               data: { contact_target: 'collectionCheckbox' }) %>
    <%= render SdrViewComponents::Forms::CheckboxComponent.new(form:, field_name: :need_marc_record,
                                                               label_text: t('contact_form.collections.other_collection.label')) %>
  </div>

  <%= render Elements::Forms::TextareaFieldComponent.new(form:, field_name: :message,
                                                         label: 'Describe your issue, question, or what you would like to deposit. *',
                                                         container_classes: 'mb-4', required: true) %>

  <div class="d-flex mb-5">
    <%= render Elements::CancelButtonComponent.new(data: { bs_dismiss: 'modal' }, classes: 'me-2', link: '#') if modal %>
    <%= render SdrViewComponents::Forms::SubmitComponent.new(label: 'Submit') %>
  </div>

  <p>You may email us at <%= link_to(Settings.support_email, "mailto:#{Settings.support_email}") %>.
<% end %>
