<%= render Emails::SalutationComponent.new(user: @user) %>

<p>
  Congratulations! Your deposit, "<%= @work.title %>" to the <%= @collection.title %> collection
  in the Stanford Digital Repository, has been approved and is now published
  in the Stanford Digital Repository.
</p>

<p>
  If you did not recently submit your item for review, the submission was made by your collection manager or an SDR admin.
</p>

<p>
  The persistent URL (PURL) for this deposit, <%= link_to nil, Sdr::Purl.from_druid(druid: @work.druid) %>,
  is now active and available for sharing.
</p>

<%= render Emails::Works::OptionsComponent.new(work_presenter: @work_presenter) %>

<%= render Emails::Works::DoiComponent.new(work_presenter: @work_presenter, work: @work) %>

<%= render Emails::ContactComponent.new %>

<%= render Emails::SignatureComponent.new %>
