<%= render Emails::SalutationComponent.new(user: @user) %>

<p>
  The item "<%= @work.title %>" has been submitted for review in the
  <%= @collection.title %> collection by <%= @work.user.name %>,
  a collection manager, or an SDR admin. You can access this item directly
  at <%= link_to nil, work_url(druid: @work.druid) %>.
</p>

<p>
  Please see the list of pending approvals at the top of the dashboard page for this collection at <%= link_to nil, root_url %>, where you will be able to select items to review and approve.
</p>

<%= render Emails::ContactComponent.new %>

<%= render Emails::SignatureComponent.new %>
