<%= render Emails::SalutationComponent.new(user: @user) %>

<p>Your deposit, "<%= @work.title %>" to the <%= @collection.title %>
  collection in the Stanford Digital Repository, has been returned to you with the following comments:</p>

<p style="margin-left: 2rem; font-weight: bold;"><%= @work.review_rejected_reason %></p>

<p>Click <%= link_to nil, edit_work_url(@work) %> to revisit your deposit.</p>

<%= render Emails::ContactComponent.new %>

<%= render Emails::SignatureComponent.new %>
