<%= render Emails::SalutationComponent.new(user: @user) %>

<p>
  Your deposit, "<%= @work.title %>" to the <%= @collection.title %>
  collection in the Stanford Digital Repository, is now waiting for review by a collection Manager.
</p>

<%= render Emails::Works::SubmitClarificationComponent.new %>

<p>
  Upon review, you will receive another notification indicating if the deposit has been
  returned to you for changes or if it has been approved and published.
  <% if @work.druid %>
    Once published, your deposit will be available at this persistent URL (PURL): <%= link_to nil, Sdr::Purl.from_druid(druid: @work.druid) %>
  <% end %>
</p>

<%= render Emails::ContactComponent.new %>

<%= render Emails::SignatureComponent.new %>
