<%= turbo_frame_tag @content_file, 'description' do %>
  <%= form_with model: @content_file, id: dom_id(@content_file, 'description_form') do |form| %>
    <%= render Elements::Forms::TextFieldComponent.new(field_name: :label, form:, label: 'Description', container_classes: 'mb-4') %>
    <div class="mt-2">
      <%= render Elements::CancelButtonComponent.new(link: content_file_path(@content_file), classes: 'me-4') %>
      <%= render Elements::Forms::SubmitComponent.new(form_id: form.id, label: 'Update') %>
    </div>
  <% end %>
<% end %>
