<% content_for :breadcrumbs do %>
  <%= render Elements::BreadcrumbNavComponent.new do |component| %>
    <% component.with_breadcrumb(text: 'Dashboard', link: dashboard_path) %>
    <% component.with_breadcrumb(text: @collection.title, link: collection_path(@collection)) %>
    <% component.with_breadcrumb(text: 'Manage Github Connection', active: true) %>
  <% end %>
<% end %>

<h1><%= @collection.title %></h1>

<h2 class="h3">Your GitHub account is connected to SDR.</h2>
<p>Select which repositories you want to connect to SDR.  Connected repositories will automatically update in SDR in this collection with each Github release.</p>

<div class="mb-5">
  <% if @linked_repos.any? %>
    <table class="table">
      <thead>
        <tr>
          <th>Repository</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @linked_repos.each do |repo| %>
          <tr>
            <td><%= repo.repo_name %></td>
            <td>
              <%= button_to 'Unlink', collection_github_integration_path(@collection, repo), method: :delete, class: 'btn btn-sm btn-outline-danger', form: { data: { turbo_confirm: 'Are you sure? This will stop automatic deposits from this repository.' } } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="text-muted">No repositories linked yet.</p>
  <% end %>
</div>

<div class="mb-5">
  <div class="card">
    <div class="card-header">
      Link a new repository
    </div>
    <div class="card-body">
      <%= form_with url: collection_github_integrations_path(@collection.druid), local: true do |form| %>
        <div class="mb-3">
          <%= form.label :repo_id, 'Select Repository', class: 'form-label' %>
          <%= form.select :repo_id, @repos, { prompt: 'Select a repository...' }, { class: 'form-select', required: true, onchange: "document.getElementById('repo_name').value = this.options[this.selectedIndex].text" } %>
          <%= form.hidden_field :repo_name, id: 'repo_name' %>
        </div>

        <%= form.submit 'Link Repository', class: 'btn btn-primary' %>
        <%= link_to 'Back to Collection', collection_path(@collection), class: 'btn btn-primary text-white ms-2' %>
      <% end %>
    </div>
  </div>
</div>
