<%= tag.div data: contributors_data do %>
  <%= render Elements::Forms::ToggleComponent.new(form:, field_name: :role_type, label_classes: 'fw-bold',
                                                  label: t('works.edit.fields.contributors.role_type.label'), container_classes: 'mb-4') do |component| %>
    <% component.with_left_toggle_option(form:,
                                         field_name: :role_type,
                                         label: t('works.edit.fields.contributors.role_type.person.label'),
                                         value: 'person',
                                         label_data: { action: 'click->contributors#showPersonSection' }) %>
    <% component.with_right_toggle_option(form:,
                                          field_name: :role_type,
                                          label: t('works.edit.fields.contributors.role_type.organization.label'),
                                          value: 'organization',
                                          data: { contributors_target: 'organizationOption' },
                                          label_data: { action: 'click->contributors#showOrganizationSection' }) %>
  <% end %>

  <%# Contributor person name/orcid fields %>
  <fieldset data-contributors-target="personSection">
    <legend class="visually-hidden">Person</legend>

    <%= render Elements::Forms::SelectFieldComponent.new(form:, field_name: :person_role, label_classes: 'fw-bold',
                                                         options: PERSON_ROLES, label: t('works.edit.fields.contributors.role.label'), container_classes: 'mb-4') %>

    <div class="form-label fw-bold"><%= t('works.edit.fields.contributors.orcid_or_name.label') %></div>
    <div class="form-check">
      <%= form.radio_button :with_orcid, true, class: 'form-check-input', checked: true %>
      <%= form.label :with_orcid_true, t('works.edit.fields.contributors.orcid.label'), class: 'form-check-label' %>
      <div class="mb-4 field-container input-group">
        <%= render Elements::Forms::LabelComponent.new(form:, field_name: :orcid, hidden_label: true) %>
        <span class="input-group-text">
          <%= Settings.orcid.url %>
        </span>
        <%= form.text_field :orcid, class: 'form-control', data: { contributors_target: 'orcidField', action: 'change->contributors#normalizeAndResolveOrcid' }, readonly: render_reset_orcid_button? %>
        <%= render Elements::ButtonComponent.new(label: t('works.edit.fields.contributors.use_orcid_button.label'), classes: 'btn btn-outline-primary',
                                                 data: { action: 'contributors#useOrcid', contributors_target: 'useOrcidButton' }, hidden: !render_use_orcid_button?) %>
        <%= render Elements::ButtonComponent.new(label: t('works.edit.fields.contributors.reset_orcid_button.label'), classes: 'btn btn-outline-primary',
                                                 data: { action: 'contributors#resetOrcid', contributors_target: 'resetOrcidButton' }, hidden: !render_reset_orcid_button?) %>
        <%= render Elements::Forms::InvalidFeedbackComponent.new(form:, field_name: :orcid) %>
      </div>
    </div>
    <div class="form-check">
      <%= form.radio_button :with_orcid, false, class: 'form-check-input', checked: false %>
      <%= form.label :with_orcid_false, 'Name', class: 'form-check-label visually-hidden' %>
      <div class="row">
        <div class="col">
          <%= render Elements::Forms::TextFieldComponent.new(form:, field_name: :first_name, label: t('works.edit.fields.contributors.first_name.label'), container_classes: 'mb-4',
                                                             data: { contributors_target: 'firstNameField' }) %>
        </div>
        <div class="col">
          <%= render Elements::Forms::TextFieldComponent.new(form:, field_name: :last_name, label: t('works.edit.fields.contributors.last_name.label'), container_classes: 'mb-4',
                                                             data: { contributors_target: 'lastNameField' }) %>
        </div>
      </div>
    </div>
  </fieldset>

  <%# Contributor organization name field %>
  <fieldset data-contributors-target="organizationSection">
    <legend class="visually-hidden">Organization</legend>

    <%= render Elements::Forms::SelectFieldComponent.new(form:, field_name: :organization_role, label_classes: 'fw-bold',
                                                         options: ORGANIZATION_ROLES, label: t('works.edit.fields.contributors.role.label'), container_classes: 'mb-4',
                                                         input_data: { contributors_target: 'organizationRoleSelect', action: 'change->contributors#showDegreeGrantingSection' }) %>

    <div data-contributors-target="degreeGrantingSection">
      <%= render Elements::Forms::ToggleComponent.new(form:, field_name: :stanford_degree_granting_institution, label_classes: 'fw-bold',
                                                      label: 'Is Stanford the institution?', container_classes: 'mb-4') do |component| %>
        <% component.with_left_toggle_option(form:,
                                             field_name: :stanford_degree_granting_institution,
                                             label: 'Yes',
                                             data: { contributors_target: 'yesStanfordOption', action: 'click->contributors#showDegreeGrantingSuborganizationSection' },
                                             value: 'yes') %>
        <% component.with_right_toggle_option(form:,
                                              field_name: :stanford_degree_granting_institution,
                                              label: 'No',
                                              data: { action: 'click->contributors#showDegreeGrantingOrganizationSection' },
                                              value: 'no') %>
      <% end %>

      <div data-contributors-target="degreeGrantingSuborganizationSection">
        <%= form.hidden_field :organization_name, value: WorkForm::STANFORD_UNIVERSITY %>
        <%= render Elements::Forms::TextFieldComponent.new(form:, field_name: :suborganization_name, label: 'Department / Institute / Center', label_classes: 'fw-bold', container_classes: 'mb-4') %>
      </div>
      <%= render Elements::Forms::TextFieldComponent.new(form:, field_name: :organization_name, label: t('works.edit.fields.contributors.organization.label'), label_classes: 'fw-bold', container_classes: 'mb-4', data: { contributors_target: 'degreeGrantingOrganizationSection' }) %>

    </div>

    <div data-contributors-target="notDegreeGrantingSection">
      <%= render Elements::Forms::TextFieldComponent.new(form:, field_name: :organization_name, label: t('works.edit.fields.contributors.organization.label'), label_classes: 'fw-bold', container_classes: 'mb-4') %>
    </div>

  </fieldset>
<% end %>
