<%= tag.div data: contributors_data do %>
  <%= render Elements::Forms::ToggleComponent.new(form:, field_name: :role_type,
                                                  label: t('works.edit.fields.contributors.role_type.label')) do |component| %>
    <% component.with_toggle_option(form:,
                                    field_name: :role_type,
                                    label: t('works.edit.fields.contributors.role_type.person.label'),
                                    value: 'person',
                                    data: { contributors_target: 'contributorTypePerson' },
                                    label_data: { contributors_target: 'contributorTypePersonLabel',
                                                  action: 'click->contributors#contributorTypePersonSelected' }) %>
    <% component.with_toggle_option(form:,
                                    field_name: :role_type,
                                    label: t('works.edit.fields.contributors.role_type.organization.label'),
                                    value: 'organization',
                                    data: { contributors_target: 'contributorTypeOrganization' },
                                    label_data: { contributors_target: 'contributorTypeOrganizationLabel',
                                                  action: 'click->contributors#contributorTypeOrganizationSelected' }) %>
  <% end %>

  <%= render Elements::Forms::SelectFieldComponent.new(form:, field_name: :person_role,
                                                       options: PERSON_ROLES, label: t('works.edit.fields.contributors.role.label'),
                                                       data: { contributors_target: 'selectPersonRole' }) %>
  <%= render Elements::Forms::SelectFieldComponent.new(form:, field_name: :organization_role,
                                                       options: ORGANIZATION_ROLES, label: t('works.edit.fields.contributors.role.label'),
                                                       data: { contributors_target: 'selectOrganizationRole' }) %>

  <%# Contributor person name/orcid fields %>
  <div data-contributors-target="personName">
    <%= render Elements::Forms::LabelComponent.new(form:, field_name: :with_orcid, label_text: t('works.edit.fields.contributors.orcid_or_name.label')) %><br>
    <div class="form-check">
      <%= form.radio_button :with_orcid, true, class: 'form-check-input' %>
      <%= form.label :with_orcid_true, t('works.edit.fields.contributors.orcid.label'), class: 'form-check-label' %>
      <%= tag.div class: orcid_container_classes do %>
        <%= render Elements::ButtonComponent.new(label: t('works.edit.fields.contributors.use_orcid_button.label'), classes: 'btn btn-outline-primary', data: { action: 'contributors#useOrcid' }) if orcid.present? %>
        <%= render Elements::Forms::LabelComponent.new(form:, field_name: :orcid, hidden_label: true) %>
        <%= form.text_field :orcid, class: 'form-control', data: { contributors_target: 'orcidField' } %>
      <% end %>
    </div>
    <div class="form-check">
      <%= form.radio_button :with_orcid, false, class: 'form-check-input', checked: true %>
      <%= form.label :with_orcid_false, 'Name', class: 'form-check-label' %>
    </div>
    <%= render Elements::Forms::InvalidFeedbackComponent.new(form:, field_name: :with_orcid) %>
    <div class="row">
      <div class="col">
        <%= render Elements::Forms::TextFieldComponent.new(form:, field_name: :first_name, label: t('works.edit.fields.contributors.first_name.label')) %>
      </div>
      <div class="col">
        <%= render Elements::Forms::TextFieldComponent.new(form:, field_name: :last_name, label: t('works.edit.fields.contributors.last_name.label')) %>
      </div>
    </div>
  </div>

  <%# Contributor organization name field %>
  <div class="row" data-contributors-target="organizationName">
    <%= render Elements::Forms::TextFieldComponent.new(form:, field_name: :organization_name, label: t('works.edit.fields.contributors.organization.label')) %>
  </div>
<% end %>
