<%= turbo_frame_tag 'globus' do %>
  <div class="row">
    <div class="col pt-3"><%= t('works.edit.messages.globus_notice_html', support_email: Settings.support_email) %>  For anything larger, <a href="#" data-bs-toggle="modal" data-bs-target="#contact-form-modal">contact us</a>.</div>
  </div>
  <div class="d-flex align-items-baseline">
    <% if @content.work %>
      <div class="me-4">
        <%= render Works::Edit::GlobusButtonComponent.new(confirm: @content.content_files.exists?,
                                                          label: t('works.edit.buttons.globus_deposit_files'),
                                                          link: content_globuses_path(@content),
                                                          method: :post, top: false, classes: 'my-3') %>

      </div>
      <div>
        <%= link_to t('works.edit.messages.globus_instructions'), Settings.globus.instructions_url %>
      </div>
    <% else %>
      <div class="me-4">
        <%= render Elements::ButtonComponent.new(label: t('works.edit.buttons.globus_deposit_files'), classes: 'my-3', disabled: true) %>

      </div>
      <div>
        Save a draft to enable Globus file deposit. <%= link_to t('works.edit.messages.globus_instructions'), Settings.globus.instructions_url %>
      </div>
    <% end %>
  <div>
  <%= render Structure::ContactFormModalComponent.new(form_id: 'contact-form-modal', path: new_contacts_path(modal: true)) %>
<% end %>
