<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || 'SDR | Stanford Digital Repository' %></title>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='mobile-web-app-capable' content='yes'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: 'manifest', href: pwa_manifest_path(format: :json) %>

    <%# To morph a page: content_for(:turbo_refresh_method, 'refresh') %>
    <%= tag.meta name: 'turbo-refresh-method', content: content_for(:turbo_refresh_method) || 'replace' %>

    <%= tag.link rel: 'icon', type: 'image/png', href: Rails.env.development? ? '/hippo.png' : '/icon.png' %>
    <%= tag.link rel: 'icon', type: 'image/svg+xml', href: Rails.env.development? ? '/hippo.svg' : '/icon.svg' %>
    <link rel='apple-touch-icon' href='/icon.png'>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, 'data-turbo-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2025-02-04/styles/sul.css">
    <%= stylesheet_link_tag 'component_library_overrides' %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render Elements::SkipLinksComponent.new %>
    <%= render Structure::HeaderComponent.new %>
    <div class="breadcrumbs">
      <nav id="breadcrumbs" aria-label="breadcrumb" class="container">
        <%= yield :breadcrumbs %>
      </nav>
    </div>
    <%= tag.main id: 'main-container', data: { controller: 'tooltips', tooltips_ahoy_value: Settings.ahoy.tooltip } do %>
      <% if content_for?(:fluid_body) %>
        <div class="fluid-container">
          <%= yield :fluid_body %>
        </div>
      <% end %>

      <div class="container">
        <% unless @no_flash %>
          <%# This prevents the flash from being cached by turbo. %>
          <div data-turbo-temporary="true">
            <% flash.each do |flash_type, msg| %>
              <%= render Elements::AlertComponent.new(variant: flash_type) do %>
                <div><%= msg.html_safe %></div><%# erb_lint:disable ErbSafety %>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    <% end %>
    <%= render Structure::FooterComponent.new %>
  </body>
</html>
