<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || 'Hungry Hungry Hippo' %></title>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <meta name='apple-mobile-web-app-capable' content='yes'>
    <meta name='mobile-web-app-capable' content='yes'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: 'manifest', href: pwa_manifest_path(format: :json) %>

    <link rel='icon' href='/icon.png' type='image/png'>
    <link rel='icon' href='/icon.svg' type='image/svg+xml'>
    <link rel='apple-touch-icon' href='/icon.png'>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, 'data-turbo-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sul-dlss/component-library@v2024-09-04/styles/sul.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
      <div class="container">
        <% flash.each do |flash_type, msg| %>
          <%= render Elements::AlertComponent.new(variant: flash_type) do %>
            <div><%= msg %></div>
          <% end %>
        <% end %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
