<% if @account.nil? %>
  <%= tag.li class: 'list-group-item', role: 'option', 'aria-disabled': 'true' do %>
    No results for "<%= params[:id] %>"
  <% end %>
<% else %>
  <%= tag.li class: 'list-group-item', role: 'option', data: { autocomplete_value: "#{@account.sunetid}: #{@account.name} - #{@account.description}", autocomplete_label: @account.sunetid } do %>
    <div class="fw-bold"><%= @account.name %> (<%= @account.sunetid %>)</div>
    <p><%= @account.description %></p>
    <p class="text-muted">Click to add</p>
  <% end %>
<% end %>
